
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596419918010844134.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-596419918010844134.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596419918010844134.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596419918010844134.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596419918010844134.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596419918010844134.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596419918010844134.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596419918010844134.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596419918010844134.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596419918010844134.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596419918010844134.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596419918010844134.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596419918010844134.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596419918010844134.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596419918010844134.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596419918010844134.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596419918010844134.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596419918010844134.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596419918010844134.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596419918010844134.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596419918010844134.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596419918010844134.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596419918010844134.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596419918010844134.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596419918010844134.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596419918010844134.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596419918010844134.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596419918010844134.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596419918010844134.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596419918010844134.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596419918010844134.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596419918010844134.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596419918010844134.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596419918010844134.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596419918010844134.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596419918010844134.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596419918010844134.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596419918010844134.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596419918010844134.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596419918010844134.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596419918010844134.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596419918010844134.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596419918010844134.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596419918010844134.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596419918010844134.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596419918010844134.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596419918010844134.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-596419918010844134.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-596419918010844134.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596419918010844134.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596419918010844134.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596419918010844134.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596419918010844134.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596419918010844134.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596419918010844134.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596419918010844134.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596419918010844134.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596419918010844134.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596419918010844134.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596419918010844134.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-596419918010844134.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-596419918010844134.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596419918010844134.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596419918010844134.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596419918010844134.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596419918010844134.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-596419918010844134.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596419918010844134.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596419918010844134.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596419918010844134.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-596419918010844134.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596419918010844134.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596419918010844134.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596419918010844134.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596419918010844134.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596419918010844134.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-596419918010844134.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-596419918010844134.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-596419918010844134.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596419918010844134.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-596419918010844134.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596419918010844134.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596419918010844134.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596419918010844134.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596419918010844134.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-596419918010844134.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-596419918010844134.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-596419918010844134.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596419918010844134.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596419918010844134.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-596419918010844134.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596419918010844134.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596419918010844134.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596419918010844134.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596419918010844134.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596419918010844134.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596419918010844134.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596419918010844134.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596419918010844134.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-596419918010844134.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596419918010844134.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596419918010844134.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596419918010844134.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596419918010844134.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-596419918010844134.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-596419918010844134.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596419918010844134.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-596419918010844134.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596419918010844134.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596419918010844134 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-596419918010844134 .gp-relative{position:relative}.gps-596419918010844134 .gp-z-1{z-index:1}.gps-596419918010844134 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596419918010844134 .gp-mb-0{margin-bottom:0}.gps-596419918010844134 .gp-inline-block{display:inline-block}.gps-596419918010844134 .gp-flex{display:flex}.gps-596419918010844134 .gp-inline-flex{display:inline-flex}.gps-596419918010844134 .gp-grid{display:grid}.gps-596419918010844134 .gp-contents{display:contents}.gps-596419918010844134 .\!gp-hidden{display:none!important}.gps-596419918010844134 .gp-hidden{display:none}.gps-596419918010844134 .gp-h-auto{height:auto}.gps-596419918010844134 .gp-h-full{height:100%}.gps-596419918010844134 .gp-w-full{width:100%}.gps-596419918010844134 .gp-max-w-full{max-width:100%}.gps-596419918010844134 .gp-flex-none{flex:none}.gps-596419918010844134 .gp-shrink-0{flex-shrink:0}.gps-596419918010844134 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596419918010844134 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-596419918010844134 .gp-flex-col{flex-direction:column}.gps-596419918010844134 .gp-flex-wrap{flex-wrap:wrap}.gps-596419918010844134 .gp-items-center{align-items:center}.gps-596419918010844134 .gp-justify-center{justify-content:center}.gps-596419918010844134 .gp-overflow-hidden{overflow:hidden}.gps-596419918010844134 .gp-break-words{overflow-wrap:break-word}.gps-596419918010844134 .gp-border{border-width:1px}.gps-596419918010844134 .gp-border-transparent{border-color:transparent}.gps-596419918010844134 .gp-text-left{text-align:left}.gps-596419918010844134 .gp-text-center{text-align:center}.gps-596419918010844134 .gp-leading-\[0\]{line-height:0}.gps-596419918010844134 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-596419918010844134 .gp-no-underline{text-decoration-line:none}.gps-596419918010844134 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596419918010844134 .gp-duration-200{transition-duration:.2s}.gps-596419918010844134 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596419918010844134 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-596419918010844134 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-596419918010844134 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596419918010844134 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596419918010844134 .tablet\:\!gp-hidden{display:none!important}.gps-596419918010844134 .tablet\:gp-hidden{display:none}.gps-596419918010844134 .tablet\:gp-h-auto{height:auto}.gps-596419918010844134 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596419918010844134 .mobile\:\!gp-hidden{display:none!important}.gps-596419918010844134 .mobile\:gp-hidden{display:none}.gps-596419918010844134 .mobile\:gp-h-auto{height:auto}.gps-596419918010844134 .mobile\:gp-flex-none{flex:none}}.gps-596419918010844134 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596419918010844134 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-596419918010844134 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-596419918010844134 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596419918010844134 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-596419918010844134 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-596419918010844134 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-596419918010844134 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-596419918010844134 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-596419918010844134 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-596419918010844134 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596419918010844134 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gB9WhLoecb"}' data-id="gB9WhLoecb" id="gB9WhLoecb" data-same-height-subgrid-container class="gB9WhLoecb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pb:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:42px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNrAE5iOI2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#961F48","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"g0YkKjTsGy"}' data-id="g0YkKjTsGy" id="g0YkKjTsGy" data-same-height-subgrid-container class="g0YkKjTsGy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#961F48;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gup_1LB3xw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gq_KmamlVg"}' data-id="gq_KmamlVg" id="gq_KmamlVg" data-same-height-subgrid-container class="gq_KmamlVg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-s);--pl:0px;--pb:var(--g-s-s);--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gYEul6zccg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA1zKSVq2G"
        class="gA1zKSVq2G"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA1zKSVq2G_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7Kn1MR1CC"
        class="g7Kn1MR1CC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--size:46px;--size-tablet:46px;--size-mobile:38px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7Kn1MR1CC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5amdW8Inu"}' data-id="g5amdW8Inu" id="g5amdW8Inu" data-same-height-subgrid-container class="g5amdW8Inu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--pl-mobile:20px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:20px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOw4x07SBW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9JXvqBfgv"}' data-id="g9JXvqBfgv" id="g9JXvqBfgv" data-same-height-subgrid-container class="g9JXvqBfgv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRPR_7j1pB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsJmy3b-iA"
        class="gsJmy3b-iA"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:16px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:30px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsJmy3b-iA_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7HLDBUwBs"
        class="g7HLDBUwBs"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--mb-tablet:4px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7HLDBUwBs_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7HLDBUwBs">
        .g7HLDBUwBs {

}
.g7HLDBUwBs p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gIX_axUejD"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-xl);--mb-mobile:20px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765037966685 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIX_axUejD"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-c3976b90-4126-4c2f-a41b-b7d30a49424f.png" | file_url }}" srcset="{{ "gempages_574378713941017811-c3976b90-4126-4c2f-a41b-b7d30a49424f.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-c3976b90-4126-4c2f-a41b-b7d30a49424f.png" | file_url }}" srcset="{{ "gempages_574378713941017811-c3976b90-4126-4c2f-a41b-b7d30a49424f.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-c3976b90-4126-4c2f-a41b-b7d30a49424f.png" | file_url }}" data-src="{{ "gempages_574378713941017811-c3976b90-4126-4c2f-a41b-b7d30a49424f.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gIX_axUejD">
        .gIX_axUejD {

}
.gIX_axUejD > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmh_-TFFnf"
        class="gmh_-TFFnf"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--mb-tablet:2px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:28px;--size-tablet:25px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmh_-TFFnf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gmh_-TFFnf">
        .gmh_-TFFnf {

}
.gmh_-TFFnf p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8KHp8CR46"
        class="g8KHp8CR46"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:2px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:28px;--size-tablet:16px;--size-mobile:15px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8KHp8CR46_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8KHp8CR46">
        .g8KHp8CR46 {

}
.g8KHp8CR46 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gVWs5A6X3s"}' data-id="gVWs5A6X3s" id="gVWs5A6X3s" data-same-height-subgrid-container class="gVWs5A6X3s gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:var(--g-s-l);--pl:0px;--pb:var(--g-s-l);--pr:0px;--mb-tablet:0px;--pt-tablet:var(--g-s-l);--pl-tablet:0px;--pb-tablet:var(--g-s-l);--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:var(--g-s-l);--pl-mobile:0px;--pb-mobile:var(--g-s-l);--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnjF7IyX7f gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY1S7lHwIA"
        class="gY1S7lHwIA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:180%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY1S7lHwIA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gshz4F3ULW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFAFA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gw5X-aGFTD"}' data-id="gw5X-aGFTD" id="gw5X-aGFTD" data-same-height-subgrid-container class="gw5X-aGFTD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--pos:sticky;--pos-mobile:static;--right:0px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:auto;--pl:auto;--pb:auto;--pr:auto;--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:auto;--pl-tablet:auto;--pb-tablet:auto;--pr-tablet:auto;--top:32px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#FAFAFA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvrQ2G90B4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFAFA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ge-D6ZS6eD"}' data-id="ge-D6ZS6eD" id="ge-D6ZS6eD" data-same-height-subgrid-container class="ge-D6ZS6eD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--pos:sticky;--pos-mobile:static;--right:0px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--pt-mobile:auto;--pl-mobile:auto;--pb-mobile:auto;--pr-mobile:auto;--pt-tablet:auto;--pl-tablet:auto;--pb-tablet:auto;--pr-tablet:auto;--top:30px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#FAFAFA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giO2rVb6ip gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmbjCBmixJ"
        class="gmbjCBmixJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:700;--size:23px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmbjCBmixJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    
    <div data-id="gx1A3mYf80"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gEqrs1n8o2 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gut_JzC9lI" class="gp-leading-[0] gut_JzC9lI" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gut_JzC9lI" class="icon-wrapper gp-inline-flex gp-overflow-hidden gut_JzC9lI " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g6Wwjr9UyO ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g69GelhPXe" class="gp-leading-[0] g69GelhPXe" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g69GelhPXe" class="icon-wrapper gp-inline-flex gp-overflow-hidden g69GelhPXe " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g63QmPFT8- ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gU3YOVHNhK" class="gp-leading-[0] gU3YOVHNhK" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gU3YOVHNhK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gU3YOVHNhK " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g99AOJWJJq ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gnNDhPCIxY" class="gp-leading-[0] gnNDhPCIxY" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gnNDhPCIxY" class="icon-wrapper gp-inline-flex gp-overflow-hidden gnNDhPCIxY " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gLG5CHsSea ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gbm_lOYS02" class="gp-leading-[0] gbm_lOYS02" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gbm_lOYS02" class="icon-wrapper gp-inline-flex gp-overflow-hidden gbm_lOYS02 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g34jSQe4rd"}' data-id="g34jSQe4rd" id="g34jSQe4rd" data-same-height-subgrid-container class="g34jSQe4rd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--cg:3px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="goaxKm5-Ws gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfCp5fcYG9"
        class="gfCp5fcYG9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfCp5fcYG9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gfCp5fcYG9">
        .gfCp5fcYG9 {

}
.gfCp5fcYG9 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gWbvQ8KnSY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGamj3t5p2"
        class="gGamj3t5p2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGamj3t5p2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGamj3t5p2">
        .gGamj3t5p2 {

}
.gGamj3t5p2 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gWoUGn9Z_J gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx2gfwjh67"
        class="gx2gfwjh67"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx2gfwjh67_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gx2gfwjh67">
        .gx2gfwjh67 {

}
.gx2gfwjh67 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJeJPS7i7O"
        class="gJeJPS7i7O"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJeJPS7i7O_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="g4XK6jPbaK ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g4XK6jPbaK"
      data-id="g4XK6jPbaK"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:var(--g-s-xl);--mb-mobile:21px;--mb-tablet:var(--g-s-xl);--pt-tablet:0px;--pl-tablet:var(--g-s-s);--pb-tablet:0px;--pr-tablet:0px;--jc:left"
      className="g4XK6jPbaK"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":18,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:8px;--rg-mobile:8px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g4XK6jPbaK"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4XK6jPbaK_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g4XK6jPbaK"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4XK6jPbaK_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g4XK6jPbaK"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4XK6jPbaK_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g4XK6jPbaK"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4XK6jPbaK_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <div
      role="presentation"
      data-id="gFRZx6nQCm"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765037966747 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gFRZx6nQCm"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" srcset="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" srcset="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-03b51498-146e-4e53-85e6-246ebfba8666.webp" | file_url }}" data-src="{{ "gempages_574378713941017811-03b51498-146e-4e53-85e6-246ebfba8666.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gFRZx6nQCm">
        .gFRZx6nQCm {

}
.gFRZx6nQCm > figure > img {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.claudia-schmuckatelier.com/collections/moonstone","selectedTab":"scrollToList","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left" >
        <style>[data-id="gyq0SvOlxp"].gp-button-base::before, [data-id="gyq0SvOlxp-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gyq0SvOlxp"]:hover::before, [data-id="gyq0SvOlxp-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gyq0SvOlxp" dataId="gyq0SvOlxp" data-state="idle" aria-label="<p>JETZT KAUFEN  SIE SCHLIESST DIESEN SONNTAG</p><p>&nbsp;</p>"
          
          href="https://www.claudia-schmuckatelier.com/collections/moonstone" target
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:20px;--pb:20px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:16px;--pb-mobile:16px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#07829F;--bg:#961F48;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--size:19px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold"
          class="gyq0SvOlxp gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-body, body);--size:19px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--size:19px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggyq0SvOlxp_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gyq0SvOlxp">
        button.gyq0SvOlxp {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-596419918010844134 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596419917943669734&sectionId=596419918010844134)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggA1zKSVq2G_text","label":"ggA1zKSVq2G_text","default":"<span style=\"background-color:rgba(255,255,255,0.01);color:#FFFFFF;font-size:40px;\"><strong>SCHMUCK INSIDER MAGAZIN</strong></span>"},{"type":"html","id":"gg7Kn1MR1CC_text","label":"gg7Kn1MR1CC_text","default":"<span style=\"background-color:rgba(255,255,255,0.01);color:#FFFFFF;font-size:20px;\"><strong>SCHMUCK INSIDER MAGAZIN</strong></span>"},{"type":"html","id":"ggsJmy3b-iA_text","label":"ggsJmy3b-iA_text","default":"<span style=\"color:#000000;font-size:27px;\">5 Grnde, warum Mondstein-Schmuck das perfekte Weihnachtsgeschenk ist</span>"},{"type":"html","id":"gg7HLDBUwBs_text","label":"gg7HLDBUwBs_text","default":"<p><span style=\"background-color:rgb(237,237,237);color:rgb(51,51,51);font-size:15px;\">Von Lisa Morgan | 14 Oktober 2025 | 10:35 Uhr&nbsp;</span></p>"},{"type":"html","id":"ggmh_-TFFnf_text","label":"ggmh_-TFFnf_text","default":"<p><span style=\"color:#000000;font-size:20px;\"><strong>1 von 3 Frauen wird chronische Schlafprobleme und Angstzustnde erleben, die schlielich ihre Energie und Lebensfreude rauben  </strong>Doch <strong>Claudias heilige Mondstein-Schmuckkollektion</strong>, durchdrungen von vier Jahrzehnten heilender Absicht und uralter Weisheit, hilft Frauen dabei, ihre innere Harmonie wiederzufinden und ihre wahre Strke zu entdecken.</span></p>"},{"type":"html","id":"gg8KHp8CR46_text","label":"gg8KHp8CR46_text","default":"<p>If you're still searching for a holiday gift that actually means something, one they won't forget, you need to read this.<br><br>Moonstone jewelry has quietly become one of the most sought-after gifts for women who value beauty, meaning, and emotional well-being.&nbsp;<br><br>And right now, there's one collection that's causing a stir: the handcrafted pieces made by Claudia, a 70-year-old artisan who's retiring this Sunday.</p>"},{"type":"html","id":"ggY1S7lHwIA_text","label":"ggY1S7lHwIA_text","default":"<p>Wenn du noch nach einem Geschenk suchst, das wirklich etwas bedeutet, eines, das nicht vergessen wird, dann lies weiter.<br><br>Mondstein-Schmuck ist leise zu einem der begehrtesten Geschenke fr Frauen geworden, die Schnheit, Bedeutung und emotionales Wohlbefinden schtzen.<br><br>Und gerade jetzt sorgt eine Kollektion fr Aufsehen: die handgefertigten Stcke von Claudia, einer 70-jhrigen Kunsthandwerkerin, die diesen Sonntag in den Ruhestand geht.</p>"},{"type":"html","id":"ggmbjCBmixJ_text","label":"ggmbjCBmixJ_text","default":"Empfohlen"},{"type":"html","id":"ggfCp5fcYG9_text","label":"ggfCp5fcYG9_text","default":"<p>4.9</p>"},{"type":"html","id":"ggGamj3t5p2_text","label":"ggGamj3t5p2_text","default":"<p>|</p>"},{"type":"html","id":"ggx2gfwjh67_text","label":"ggx2gfwjh67_text","default":"<p>1,752 Bewertungen</p>"},{"type":"html","id":"ggJeJPS7i7O_text","label":"ggJeJPS7i7O_text","default":"Mondstein-Schmuck"},{"type":"html","id":"gg4XK6jPbaK_childItem_0","label":"gg4XK6jPbaK_childItem_0","default":"<p>Reduziert Stress &amp; berforderung</p>"},{"type":"html","id":"gg4XK6jPbaK_childItem_1","label":"gg4XK6jPbaK_childItem_1","default":"<p>Lindert Schlafprobleme &amp; Albtrume</p>"},{"type":"html","id":"gg4XK6jPbaK_childItem_2","label":"gg4XK6jPbaK_childItem_2","default":"<p>Frdert ruhigen, ungestrten Schlaf</p>"},{"type":"html","id":"gg4XK6jPbaK_childItem_3","label":"gg4XK6jPbaK_childItem_3","default":"<p>Schenkt Gelassenheit &amp; sanfte Heilenergie</p>"},{"type":"html","id":"ggyq0SvOlxp_label","label":"ggyq0SvOlxp_label","default":"<p>JETZT KAUFEN  SIE SCHLIESST DIESEN SONNTAG</p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}