
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-581620803876225896.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-581620803876225896.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-581620803876225896.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-581620803876225896.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-581620803876225896.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-581620803876225896.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-581620803876225896.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-581620803876225896.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-581620803876225896.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-581620803876225896.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-581620803876225896.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-581620803876225896.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-581620803876225896.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-581620803876225896.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-581620803876225896.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-581620803876225896.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-581620803876225896.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-581620803876225896.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-581620803876225896.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-581620803876225896.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-581620803876225896.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-581620803876225896.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-581620803876225896.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-581620803876225896.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-581620803876225896.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-581620803876225896.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-581620803876225896.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-581620803876225896.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-581620803876225896.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-581620803876225896.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-581620803876225896.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-581620803876225896.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-581620803876225896.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-581620803876225896.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-581620803876225896.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-581620803876225896.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-581620803876225896.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-581620803876225896.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-581620803876225896.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-581620803876225896.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-581620803876225896.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-581620803876225896.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-581620803876225896.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-581620803876225896.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-581620803876225896.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-581620803876225896.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-581620803876225896.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-581620803876225896.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-581620803876225896.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-581620803876225896.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-581620803876225896.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-581620803876225896.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-581620803876225896.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-581620803876225896.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-581620803876225896.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-581620803876225896.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-581620803876225896.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-581620803876225896.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-581620803876225896.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-581620803876225896.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-581620803876225896.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-581620803876225896.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-581620803876225896.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-581620803876225896.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-581620803876225896.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-581620803876225896.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-581620803876225896.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-581620803876225896.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-581620803876225896.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-581620803876225896.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-581620803876225896.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-581620803876225896.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-581620803876225896.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-581620803876225896.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-581620803876225896.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-581620803876225896.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-581620803876225896.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-581620803876225896.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-581620803876225896 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-581620803876225896 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-581620803876225896 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-581620803876225896 .gp-relative{position:relative}.gps-581620803876225896 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-581620803876225896 .gp-mb-0{margin-bottom:0}.gps-581620803876225896 .gp-inline-block{display:inline-block}.gps-581620803876225896 .gp-flex{display:flex}.gps-581620803876225896 .gp-grid{display:grid}.gps-581620803876225896 .gp-contents{display:contents}.gps-581620803876225896 .\!gp-hidden{display:none!important}.gps-581620803876225896 .gp-hidden{display:none}.gps-581620803876225896 .gp-h-auto{height:auto}.gps-581620803876225896 .gp-h-full{height:100%}.gps-581620803876225896 .gp-w-full{width:100%}.gps-581620803876225896 .gp-max-w-full{max-width:100%}.gps-581620803876225896 .gp-flex-none{flex:none}.gps-581620803876225896 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-581620803876225896 .gp-flex-col{flex-direction:column}.gps-581620803876225896 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581620803876225896 .gp-duration-200{transition-duration:.2s}.gps-581620803876225896 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581620803876225896 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-581620803876225896 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-581620803876225896 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-581620803876225896 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-581620803876225896 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-581620803876225896 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-581620803876225896 .after\:gp-text-black:after{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity));content:var(--tw-content)}.gps-581620803876225896 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-581620803876225896 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-581620803876225896 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (max-width:1024px){.gps-581620803876225896 .tablet\:\!gp-hidden{display:none!important}.gps-581620803876225896 .tablet\:gp-hidden{display:none}.gps-581620803876225896 .tablet\:gp-h-auto{height:auto}.gps-581620803876225896 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-581620803876225896 .mobile\:\!gp-hidden{display:none!important}.gps-581620803876225896 .mobile\:gp-hidden{display:none}.gps-581620803876225896 .mobile\:gp-h-auto{height:auto}.gps-581620803876225896 .mobile\:gp-flex-none{flex:none}}.gps-581620803876225896 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8YKpO8dan"}' data-id="g8YKpO8dan" id="g8YKpO8dan" data-same-height-subgrid-container class="g8YKpO8dan gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pb:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEeJ7yjIYY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gh3EqmPxkd"}' data-id="gh3EqmPxkd" id="gh3EqmPxkd" data-same-height-subgrid-container class="gh3EqmPxkd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:20px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5IXxdeVGA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsVBAocj9B"}' data-id="gsVBAocj9B" id="gsVBAocj9B" data-same-height-subgrid-container class="gsVBAocj9B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:42px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goclc0a9nW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTfwx5OVu8"
        class="gTfwx5OVu8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:38px;--mt-mobile:10px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678177"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:29px;--size-tablet:19px;--size-mobile:19px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTfwx5OVu8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwWkx2k6It"
        class="gwWkx2k6It"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678179"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwWkx2k6It_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gwWkx2k6It">
        .gwWkx2k6It {

}
.gwWkx2k6It p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gGrFgcWPoI"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:38px;--ta:center"
      class="gp-group/image gp-relative force-publish-1756288678179 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gGrFgcWPoI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gzoW5Rk6_Q"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1756288678180 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzoW5Rk6_Q"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c_768x.png" srcset="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c_768x.png" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" srcset="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" data-src="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzoW5Rk6_Q">
        .gzoW5Rk6_Q {

}
.gzoW5Rk6_Q > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQ0iRaAdmT"
        class="gQ0iRaAdmT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678181"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQ0iRaAdmT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQ0iRaAdmT">
        .gQ0iRaAdmT {

}
.gQ0iRaAdmT p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGi73QvO-9"
        class="gGi73QvO-9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678182"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:18px;--size-mobile:20px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGi73QvO-9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGi73QvO-9">
        .gGi73QvO-9 {

}
.gGi73QvO-9 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxDyDai6Fk"
        class="gxDyDai6Fk"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678183"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxDyDai6Fk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxDyDai6Fk">
        .gxDyDai6Fk {

}
.gxDyDai6Fk p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gQmodJ5acr"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1756288678184 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQmodJ5acr"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b.jpg" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4t59GfUHB"
        class="g4t59GfUHB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678185"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4t59GfUHB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4t59GfUHB">
        .g4t59GfUHB {

}
.g4t59GfUHB p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdHpaR-VXd"
        class="gdHpaR-VXd"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678186"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdHpaR-VXd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g5SW6p6e4e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBK7JCIl7c"
        class="gBK7JCIl7c"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756288678188"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-581620803876225896 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=581620803792012136&sectionId=581620803876225896)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTfwx5OVu8_text","label":"ggTfwx5OVu8_text","default":"<span style=\"font-size:25px;\"><strong>Ein stiller Abschied – und die Geschichte dahinter</strong></span>"},{"type":"html","id":"ggwWkx2k6It_text","label":"ggwWkx2k6It_text","default":"<p>Ich war müde. Innerlich leer. Leise am Zerbrechen.</p><p>Ich hatte den Kontakt zu dem verloren, <strong>wer ich wirklich war</strong>. Mein <strong>weibliches Wesen</strong> fühlte sich begraben an unter Jahren des Versuchs zu sein, was andere erwarteten. Dann, eines Tages, legte meine Mutter einen <strong>kleinen Stein</strong> in meine Hand. Und alles begann sich zu verändern.</p><p>&nbsp;</p><p>Heute sitze ich in meinem Heimstudio in Freiburg, wo ich seit Jahren jedes einzelne Stück <strong>Mondstein-Schmuck</strong> von Hand fertige, <strong>langsam, sorgfältig</strong> und mit <strong>stiller Hingabe</strong>. Aber meine Reise begann lange bevor ich jemals ein Werkzeug in die Hand nahm.</p>"},{"type":"html","id":"ggQ0iRaAdmT_text","label":"ggQ0iRaAdmT_text","default":"<p>In meinem Studio in Freiburg – hier entstehen seit Jahren meine stillen Begleiter.</p>"},{"type":"html","id":"ggGi73QvO-9_text","label":"ggGi73QvO-9_text","default":"<p><strong>Ich war das stille Mädchen mit den Steintaschen.</strong></p>"},{"type":"html","id":"ggxDyDai6Fk_text","label":"ggxDyDai6Fk_text","default":"<p>Schon als Kind, aufgewachsen in einem kleinen Dorf in <strong>Süddeutschland</strong>, fühlte ich mich zum <strong>Himmel</strong> hingezogen — besonders <strong>nachts</strong>. Nicht nur zu den Sternen, sondern zum <strong>Mond</strong>. Diesem <strong>sanften Schein</strong>, der nie der hellste sein musste, um trotzdem gesehen zu werden. Ich lag stundenlang im Garten meiner Großeltern, schaute ihn an und spürte sein Licht an Orten in mir, die keinen Namen hatten.</p><p>&nbsp;</p><p><strong>Der Mond rief etwas Tiefes in mir an</strong> - etwas <strong>Sanftes, Intuitives, Zyklisches</strong>. Etwas, von dem ich noch nicht verstand, dass es meine <strong>weibliche Kraft</strong> war.</p><p>Ich war <strong>sensibel. Still.</strong> Ich fühlte alles <strong>tief</strong>.</p><p>&nbsp;</p><p>Während die anderen Kinder auf Bäume kletterten und lachten, <strong>sammelte ich Steine</strong> —kleine <strong>Schätze</strong>, die mir halfen, mich <strong>sicher zu fühlen, wenn die Welt zu laut wurde</strong>.<br><br>Schon damals fühlte ich mich zu ihrer <strong>natürlichen Weisheit</strong> hingezogen, zu ihrer <strong>uralten weiblichen Energie</strong>.</p>"},{"type":"html","id":"gg4t59GfUHB_text","label":"gg4t59GfUHB_text","default":"<p>Ein stiller Moment aus meiner Kindheit – wo das Sammeln von Steinen bedeutete, sich mit etwas Heiligem zu verbinden.</p>"},{"type":"html","id":"ggdHpaR-VXd_text","label":"ggdHpaR-VXd_text","default":"<p>Zu Hause sprachen wir nicht viel über <strong>Gefühle</strong>. Wir machten einfach weiter. <strong>Blieben stark</strong>.</p><p>&nbsp;</p><p>Aber ich hatte oft <strong>Angst</strong> —als müsste ich <strong>perfekt</strong> sein, nur um <strong>sicher</strong> zu sein. Als wäre meine <strong>Sanftheit</strong> etwas, das ich verstecken, nicht feiern sollte.</p><p>&nbsp;</p><p>Dieses Gefühl blieb mir bis ins <strong>Erwachsenenalter</strong>.</p><p>&nbsp;</p><p><strong>Steine gaben mir Trost, wenn Worte versagten.</strong></p><p>&nbsp;</p><p>In meinen Zwanzigern und Dreißigern machte ich alles \"<strong>richtig</strong>.\" <strong>Einen sicheren Job. Eine langfristige Beziehung.</strong> Ein Leben, das auf dem Papier gut aussah.</p><p>&nbsp;</p><p>Aber innerlich fühlte ich mich <strong>entfremdet</strong> —als würde ich eine <strong>Rolle in der Geschichte eines anderen</strong> spielen. Ich hatte gelernt, meine <strong>Intuition zu unterdrücken</strong>, meine <strong>Zyklen zu ignorieren</strong>, <strong>durchzuhalten</strong> anstatt mit meinen natürlichen Rhythmen zu <strong>fließen</strong>.</p><p>&nbsp;</p><p><strong>Ich hatte mich von meinem weiblichen Wesen getrennt.</strong></p><p>&nbsp;</p><p>Mit 33 hatte ich einen <strong>Zusammenbruch</strong>.</p><p>&nbsp;</p><p><strong>Emotional erschöpft. Ausgebrannt. Alles in Frage stellend.</strong></p><p><strong>Ich fühlte mich, als hätte ich mich völlig verloren</strong> - begraben unter Schichten dessen, was ich dachte sein zu \"sollen\", anstatt zu umarmen, wer ich <strong>wirklich war</strong>.</p><p>&nbsp;</p><p>Meinen Eltern fiel es auf—besonders meiner <strong>Mutter</strong>.</p><p>Sie war nie gut mit Worten, aber eines Tages legte sie mir eine kleine Schachtel in die Hände. Darin lag ein Stein, <strong>blass und schimmernd wie Mondlicht</strong>.</p><p>&nbsp;</p><p><strong>Ein Mondstein.</strong></p><p>\"Wir haben ihn in <strong>Österreich</strong> gesehen,\" sagte sie. \"Er hat uns an dich erinnert.\"</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  