

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574401720990303344.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-574401720990303344.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574401720990303344.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574401720990303344.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574401720990303344.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574401720990303344.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574401720990303344.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574401720990303344.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574401720990303344.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574401720990303344.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-574401720990303344.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574401720990303344.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-574401720990303344.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-574401720990303344.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574401720990303344.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-574401720990303344.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574401720990303344.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-574401720990303344.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-574401720990303344.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-574401720990303344.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574401720990303344.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574401720990303344.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574401720990303344.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574401720990303344.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574401720990303344.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574401720990303344.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574401720990303344.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-574401720990303344.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574401720990303344.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574401720990303344.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574401720990303344.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-574401720990303344.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574401720990303344.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574401720990303344.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574401720990303344.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-574401720990303344.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574401720990303344.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574401720990303344.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574401720990303344.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574401720990303344.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574401720990303344.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574401720990303344.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574401720990303344.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574401720990303344.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574401720990303344.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-574401720990303344.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574401720990303344.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574401720990303344.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574401720990303344.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-574401720990303344.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574401720990303344.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-574401720990303344.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574401720990303344.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-574401720990303344.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-574401720990303344.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-574401720990303344.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574401720990303344.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574401720990303344.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-574401720990303344.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574401720990303344.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574401720990303344.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-574401720990303344.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-574401720990303344.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-574401720990303344.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-574401720990303344.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-574401720990303344.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-574401720990303344.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-574401720990303344.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574401720990303344.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-574401720990303344.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-574401720990303344.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574401720990303344.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-574401720990303344.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-574401720990303344.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-574401720990303344.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574401720990303344.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574401720990303344.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-574401720990303344.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574401720990303344.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574401720990303344 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-574401720990303344 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-574401720990303344 .gp-relative{position:relative}.gps-574401720990303344 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574401720990303344 .gp-mb-0{margin-bottom:0}.gps-574401720990303344 .gp-flex{display:flex}.gps-574401720990303344 .gp-grid{display:grid}.gps-574401720990303344 .gp-contents{display:contents}.gps-574401720990303344 .\!gp-hidden{display:none!important}.gps-574401720990303344 .gp-hidden{display:none}.gps-574401720990303344 .gp-h-auto{height:auto}.gps-574401720990303344 .gp-h-full{height:100%}.gps-574401720990303344 .gp-w-full{width:100%}.gps-574401720990303344 .gp-max-w-full{max-width:100%}.gps-574401720990303344 .gp-flex-none{flex:none}.gps-574401720990303344 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574401720990303344 .gp-flex-col{flex-direction:column}.gps-574401720990303344 .gp-gap-y-0{row-gap:0}.gps-574401720990303344 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574401720990303344 .gp-duration-200{transition-duration:.2s}.gps-574401720990303344 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574401720990303344 .tablet\:\!gp-hidden{display:none!important}.gps-574401720990303344 .tablet\:gp-hidden{display:none}.gps-574401720990303344 .tablet\:gp-h-auto{height:auto}.gps-574401720990303344 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-574401720990303344 .mobile\:\!gp-hidden{display:none!important}.gps-574401720990303344 .mobile\:gp-hidden{display:none}.gps-574401720990303344 .mobile\:gp-h-auto{height:auto}.gps-574401720990303344 .mobile\:gp-flex-none{flex:none}}.gps-574401720990303344 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-574401720990303344 .\[\&_p\]\:gp-inline p{display:inline}.gps-574401720990303344 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-574401720990303344 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8YKpO8dan" data-id="g8YKpO8dan"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:0px;--pb:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:42px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8YKpO8dan gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEeJ7yjIYY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gqqSFGqwBc" data-id="gqqSFGqwBc"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:48px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#961F48;--bgc-mobile:#961F48;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gqqSFGqwBc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gXyaXw24jM gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gh3EqmPxkd" data-id="gh3EqmPxkd"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:20px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gh3EqmPxkd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5IXxdeVGA gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsVBAocj9B" data-id="gsVBAocj9B"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:42px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsVBAocj9B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goclc0a9nW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwWkx2k6It">
    <div
      parentTag="Col"
        class="gwWkx2k6It "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:23px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwWkx2k6It_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gwWkx2k6It">
        .gwWkx2k6It {

}
.gwWkx2k6It p {

}
      </style>
    <div
    
     data-id="gzoW5Rk6_Q"
    role="presentation"
    class="gp-group/image gzoW5Rk6_Q gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--mb-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_574378713941017811-9b4c6d7f-f94d-4d6d-90c3-1ab3b08ec15e.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_574378713941017811-89320de8-4591-4373-be91-5d2cde59f4ee.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_574378713941017811-89320de8-4591-4373-be91-5d2cde59f4ee.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--w:500px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:500px"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gzoW5Rk6_Q">
        .gzoW5Rk6_Q {

}
.gzoW5Rk6_Q > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQ0iRaAdmT">
    <div
      parentTag="Col"
        class="gQ0iRaAdmT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-xl);--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQ0iRaAdmT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gQ0iRaAdmT">
        .gQ0iRaAdmT {

}
.gQ0iRaAdmT p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gGi73QvO-9">
    <div
      parentTag="Col"
        class="gGi73QvO-9 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGi73QvO-9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gGi73QvO-9">
        .gGi73QvO-9 {

}
.gGi73QvO-9 p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxDyDai6Fk">
    <div
      parentTag="Col"
        class="gxDyDai6Fk "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxDyDai6Fk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gxDyDai6Fk">
        .gxDyDai6Fk {

}
.gxDyDai6Fk p {

}
      </style>
    <div
    
     data-id="gQmodJ5acr"
    role="presentation"
    class="gp-group/image gQmodJ5acr gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-79d9a234-6230-41a4-b4db-4a93c97cef94.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-79d9a234-6230-41a4-b4db-4a93c97cef94.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_574378713941017811-79d9a234-6230-41a4-b4db-4a93c97cef94.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4t59GfUHB">
    <div
      parentTag="Col"
        class="g4t59GfUHB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-xl);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4t59GfUHB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g4t59GfUHB">
        .g4t59GfUHB {

}
.g4t59GfUHB p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdHpaR-VXd">
    <div
      parentTag="Col"
        class="gdHpaR-VXd "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdHpaR-VXd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5SW6p6e4e gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBK7JCIl7c">
    <div
      parentTag="Col"
        class="gBK7JCIl7c "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ></div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-574401720990303344 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=574401710621983588&sectionId=574401720990303344)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggwWkx2k6It_text","label":"ggwWkx2k6It_text","default":"<p>Ich war müde, innerlich leer und still zerbrochen.<br>Dann reichte mir meine Mutter einen kleinen Stein.<br>Er veränderte alles.</p>"},{"type":"html","id":"ggQ0iRaAdmT_text","label":"ggQ0iRaAdmT_text","default":"<p>Ich in meinem Heimatelier in Freiburg, wo ich jedes Mondstein-Schmuckstück mit stiller Achtsamkeit von Hand fertige.</p>"},{"type":"html","id":"ggGi73QvO-9_text","label":"ggGi73QvO-9_text","default":"<p>Meine Geschichte</p>"},{"type":"html","id":"ggxDyDai6Fk_text","label":"ggxDyDai6Fk_text","default":"<p>Ich habe mich schon immer <strong>zum Himmel hingezogen</strong> gefühlt. Besonders <strong>in der Nacht</strong>.</p><p>Nicht nur zu den <strong>Sternen</strong>, sondern zum <strong>Mond</strong> – wie er <strong>sanft leuchtet</strong>, ohne jemals der <strong>Hellste</strong> sein zu müssen.</p><p>&nbsp;</p><p>Als Mädchen in einem <strong>kleinen Dorf im Süden Deutschlands</strong> lag ich oft im Garten meiner Großeltern und starrte zum <strong>Mond</strong> hinauf. Ich war die <strong>Ruhige</strong>. <strong>Sensibel</strong>. Ich fühlte alles sehr <strong>intensiv</strong>.</p><p>&nbsp;</p><p>Während die anderen Kinder lachten und auf Bäume kletterten, sammelte ich <strong>Steine</strong> aus dem Garten – wie kleine <strong>Schätze</strong>. Sie gaben mir <strong>Ruhe</strong>. Etwas <strong>Festes zum Festhalten</strong>, wenn alles andere zu <strong>laut</strong> wurde.</p><p>&nbsp;</p><p>Zu Hause sprach man nicht viel über <strong>Gefühle</strong>. Man sollte einfach <strong>weitermachen</strong>, <strong>stark bleiben</strong>. Aber in mir drin war ich oft <strong>ängstlich</strong> – als müsste ich <strong>perfekt</strong> sein, nur um mich <strong>sicher</strong> zu fühlen.</p><p>Dieses Gefühl begleitete mich bis ins <strong>Erwachsenenalter</strong>.</p>"},{"type":"html","id":"gg4t59GfUHB_text","label":"gg4t59GfUHB_text","default":"<p>Ich fühlte mich schon immer zu dem hingezogen, was andere übersahen.<br>Steine gaben mir Trost, wenn Worte fehlten.</p>"},{"type":"html","id":"ggdHpaR-VXd_text","label":"ggdHpaR-VXd_text","default":"<p>In meinen Zwanzigern und Dreißigern habe ich alles „<strong>richtig</strong>“ gemacht.<br>Ich hatte einen <strong>sicheren Job</strong>, eine <strong>langjährige Beziehung</strong>, ein Leben, das auf dem Papier gut aussah.<br>Aber <strong>innerlich</strong> fühlte ich mich <strong>leer</strong> – als würde ich nur eine <strong>Rolle spielen</strong>, statt wirklich <strong>mein eigenes Leben zu leben</strong>.</p><p><br>Ich lächelte, aber etwas in mir fehlte.</p><p>Mit 33 kam der <strong>Zusammenbruch</strong>.<br>Ich war <strong>emotional erschöpft</strong>, <strong>ausgebrannt</strong> und begann, alles zu hinterfragen.<br>Meine Eltern bemerkten es – vor allem meine <strong>Mutter</strong>.<br>Sie war nie gut mit Worten, aber eines Tages drückte sie mir eine kleine <strong>Schachtel</strong> in die Hand.</p><p>&nbsp;</p><p>Darin war ein leuchtender <strong>Stein</strong> – <strong>zart</strong> und <strong>blass</strong> wie <strong>Mondlicht</strong>.<br>Ein <strong>Mondstein</strong>.</p><p>&nbsp;</p><p>„Wir haben ihn in <strong>Österreich</strong> gesehen“, sagte sie. „Er hat uns an dich erinnert.“</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
