
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584531649509786181.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-584531649509786181.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584531649509786181.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584531649509786181.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584531649509786181.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584531649509786181.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584531649509786181.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584531649509786181.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584531649509786181.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584531649509786181.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584531649509786181.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584531649509786181.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584531649509786181.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584531649509786181.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584531649509786181.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584531649509786181.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584531649509786181.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584531649509786181.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584531649509786181.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584531649509786181.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584531649509786181.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584531649509786181.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584531649509786181.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584531649509786181.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584531649509786181.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584531649509786181.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584531649509786181.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584531649509786181.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584531649509786181.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584531649509786181.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584531649509786181.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584531649509786181.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584531649509786181.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584531649509786181.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584531649509786181.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584531649509786181.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584531649509786181.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584531649509786181.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584531649509786181.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584531649509786181.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584531649509786181.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584531649509786181.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584531649509786181.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584531649509786181.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584531649509786181.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584531649509786181.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584531649509786181.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584531649509786181.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584531649509786181.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584531649509786181.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584531649509786181.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584531649509786181.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584531649509786181.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584531649509786181.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584531649509786181.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584531649509786181.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584531649509786181.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-584531649509786181.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-584531649509786181.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584531649509786181.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584531649509786181.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584531649509786181.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-584531649509786181.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584531649509786181.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584531649509786181.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584531649509786181.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-584531649509786181.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584531649509786181.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584531649509786181.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584531649509786181.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584531649509786181.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-584531649509786181.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-584531649509786181.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584531649509786181.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584531649509786181.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584531649509786181.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584531649509786181.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-584531649509786181.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-584531649509786181.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584531649509786181.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584531649509786181.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-584531649509786181.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584531649509786181.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-584531649509786181.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584531649509786181.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584531649509786181.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584531649509786181.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584531649509786181.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584531649509786181.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-584531649509786181.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-584531649509786181.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584531649509786181.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584531649509786181.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584531649509786181.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584531649509786181.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-584531649509786181.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-584531649509786181.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-584531649509786181.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584531649509786181.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584531649509786181 .gp-relative{position:relative}.gps-584531649509786181 .gp-z-1{z-index:1}.gps-584531649509786181 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584531649509786181 .gp-mb-0{margin-bottom:0}.gps-584531649509786181 .gp-inline-block{display:inline-block}.gps-584531649509786181 .gp-flex{display:flex}.gps-584531649509786181 .gp-inline-flex{display:inline-flex}.gps-584531649509786181 .gp-grid{display:grid}.gps-584531649509786181 .gp-contents{display:contents}.gps-584531649509786181 .\!gp-hidden{display:none!important}.gps-584531649509786181 .gp-hidden{display:none}.gps-584531649509786181 .gp-h-auto{height:auto}.gps-584531649509786181 .gp-h-full{height:100%}.gps-584531649509786181 .gp-w-full{width:100%}.gps-584531649509786181 .gp-max-w-full{max-width:100%}.gps-584531649509786181 .gp-flex-none{flex:none}.gps-584531649509786181 .gp-shrink-0{flex-shrink:0}.gps-584531649509786181 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584531649509786181 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-584531649509786181 .gp-flex-col{flex-direction:column}.gps-584531649509786181 .gp-flex-wrap{flex-wrap:wrap}.gps-584531649509786181 .gp-items-center{align-items:center}.gps-584531649509786181 .gp-justify-center{justify-content:center}.gps-584531649509786181 .gp-overflow-hidden{overflow:hidden}.gps-584531649509786181 .gp-break-words{overflow-wrap:break-word}.gps-584531649509786181 .gp-border{border-width:1px}.gps-584531649509786181 .gp-border-transparent{border-color:transparent}.gps-584531649509786181 .gp-text-left{text-align:left}.gps-584531649509786181 .gp-text-center{text-align:center}.gps-584531649509786181 .gp-leading-\[0\]{line-height:0}.gps-584531649509786181 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-584531649509786181 .gp-no-underline{text-decoration-line:none}.gps-584531649509786181 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584531649509786181 .gp-duration-200{transition-duration:.2s}.gps-584531649509786181 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584531649509786181 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-584531649509786181 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584531649509786181 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584531649509786181 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-584531649509786181 .tablet\:\!gp-hidden{display:none!important}.gps-584531649509786181 .tablet\:gp-hidden{display:none}.gps-584531649509786181 .tablet\:gp-h-auto{height:auto}.gps-584531649509786181 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584531649509786181 .mobile\:\!gp-hidden{display:none!important}.gps-584531649509786181 .mobile\:gp-hidden{display:none}.gps-584531649509786181 .mobile\:gp-h-auto{height:auto}.gps-584531649509786181 .mobile\:gp-flex-none{flex:none}}.gps-584531649509786181 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584531649509786181 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-584531649509786181 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-584531649509786181 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584531649509786181 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-584531649509786181 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-584531649509786181 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-584531649509786181 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-584531649509786181 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-584531649509786181 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-584531649509786181 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-584531649509786181 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKZ11aLjrB"}' data-id="gKZ11aLjrB" id="gKZ11aLjrB" data-same-height-subgrid-container class="gKZ11aLjrB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geO3IJtFTg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFAFA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZPjDPnmPy"}' data-id="gZPjDPnmPy" id="gZPjDPnmPy" data-same-height-subgrid-container class="gZPjDPnmPy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--pos:sticky;--pos-mobile:static;--right:0px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--top:32px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#FAFAFA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtbj1OCHbA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDMAM4oOnP"
        class="gDMAM4oOnP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384830"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:23px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDMAM4oOnP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    
    <div data-id="gjbbto3p5S"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g5CcadzVnq ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g6NhNx1ACF" class="gp-leading-[0] g6NhNx1ACF" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g6NhNx1ACF" class="icon-wrapper gp-inline-flex gp-overflow-hidden g6NhNx1ACF " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gSsHqlLpoK ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g-cDqNRtUj" class="gp-leading-[0] g-cDqNRtUj" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g-cDqNRtUj" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-cDqNRtUj " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gNEnHGIYjf ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gL775ijZeR" class="gp-leading-[0] gL775ijZeR" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gL775ijZeR" class="icon-wrapper gp-inline-flex gp-overflow-hidden gL775ijZeR " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g3DZ6EC99E ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gNeKotqlec" class="gp-leading-[0] gNeKotqlec" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gNeKotqlec" class="icon-wrapper gp-inline-flex gp-overflow-hidden gNeKotqlec " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gmbAopKMJA ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g2Fr_5_maU" class="gp-leading-[0] g2Fr_5_maU" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g2Fr_5_maU" class="icon-wrapper gp-inline-flex gp-overflow-hidden g2Fr_5_maU " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvoxhAHfeu"}' data-id="gvoxhAHfeu" id="gvoxhAHfeu" data-same-height-subgrid-container class="gvoxhAHfeu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--cg:3px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_4xJ8NyyG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOPtS_QeuP"
        class="gOPtS_QeuP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384838"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOPtS_QeuP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gOPtS_QeuP">
        .gOPtS_QeuP {

}
.gOPtS_QeuP p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gg5bRH6mkD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gj5592Tdhh"
        class="gj5592Tdhh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384839"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggj5592Tdhh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gj5592Tdhh">
        .gj5592Tdhh {

}
.gj5592Tdhh p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g9iuKMgn8p gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3rqcLwX7-"
        class="g3rqcLwX7-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384840"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3rqcLwX7-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g3rqcLwX7-">
        .g3rqcLwX7- {

}
.g3rqcLwX7- p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCLFUeRjDh"
        class="gCLFUeRjDh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384847"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:23px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCLFUeRjDh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="gA9jePZxDQ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gA9jePZxDQ"
      data-id="gA9jePZxDQ"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:var(--g-s-xl);--mb-mobile:21px;--jc:left"
      className="gA9jePZxDQ"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":18,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:8px;--rg-mobile:8px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gA9jePZxDQ"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384849"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA9jePZxDQ_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gA9jePZxDQ"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384849"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA9jePZxDQ_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gA9jePZxDQ"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384849"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA9jePZxDQ_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gA9jePZxDQ"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#07829F;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758269384850"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA9jePZxDQ_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <div
      role="presentation"
      data-id="gEgbhKQIvC"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758269384850 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gEgbhKQIvC"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" srcset="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.claudia-schmuckatelier.com/cdn/shop/files/8d4fce92eba41c5a59dc5da093a70d7a.jpg?v=1751820353" srcset="https://www.claudia-schmuckatelier.com/cdn/shop/files/8d4fce92eba41c5a59dc5da093a70d7a.jpg?v=1751820353" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://www.claudia-schmuckatelier.com/cdn/shop/files/8d4fce92eba41c5a59dc5da093a70d7a.jpg?v=1751820353" data-src="https://www.claudia-schmuckatelier.com/cdn/shop/files/8d4fce92eba41c5a59dc5da093a70d7a.jpg?v=1751820353"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gEgbhKQIvC">
        .gEgbhKQIvC {

}
.gEgbhKQIvC > figure > img {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.claudia-schmuckatelier.com/collections/moonstone","selectedTab":"scrollToList","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gGaYfZ2FI3"].gp-button-base::before, [data-id="gGaYfZ2FI3-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gGaYfZ2FI3"]:hover::before, [data-id="gGaYfZ2FI3-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gGaYfZ2FI3" dataId="gGaYfZ2FI3" data-state="idle" aria-label="<p><strong>BESUCHEN SIE MEINEN SHOP</strong></p>"
          
          href="https://www.claudia-schmuckatelier.com/collections/moonstone" target
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:20px;--pb:20px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:16px;--pb-mobile:16px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#07829F;--bg:#07829F;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:19px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gGaYfZ2FI3 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:19px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="arrow-right-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:600;--ls:0px;--size:19px;--size-tablet:20px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggGaYfZ2FI3_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gGaYfZ2FI3">
        button.gGaYfZ2FI3 {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-584531649509786181 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584531639946707828&sectionId=584531649509786181)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDMAM4oOnP_text","label":"ggDMAM4oOnP_text","default":"Empfohlen"},{"type":"html","id":"ggOPtS_QeuP_text","label":"ggOPtS_QeuP_text","default":"<p>4.9</p>"},{"type":"html","id":"ggj5592Tdhh_text","label":"ggj5592Tdhh_text","default":"<p>|</p>"},{"type":"html","id":"gg3rqcLwX7-_text","label":"gg3rqcLwX7-_text","default":"<p>1,752 Bewertungen</p>"},{"type":"html","id":"ggCLFUeRjDh_text","label":"ggCLFUeRjDh_text","default":"Mondstein-Schmuck"},{"type":"html","id":"ggA9jePZxDQ_childItem_0","label":"ggA9jePZxDQ_childItem_0","default":"<p>Reduziert Stress &amp; berforderung</p>"},{"type":"html","id":"ggA9jePZxDQ_childItem_1","label":"ggA9jePZxDQ_childItem_1","default":"<p>Lindert Schlafprobleme &amp; Albtrume</p>"},{"type":"html","id":"ggA9jePZxDQ_childItem_2","label":"ggA9jePZxDQ_childItem_2","default":"<p>Frdert ruhigen, ungestrten Schlaf</p>"},{"type":"html","id":"ggA9jePZxDQ_childItem_3","label":"ggA9jePZxDQ_childItem_3","default":"<p>Schenkt Gelassenheit &amp; sanfte Heilenergie</p>"},{"type":"html","id":"ggGaYfZ2FI3_label","label":"ggGaYfZ2FI3_label","default":"<p><strong>BESUCHEN SIE MEINEN SHOP</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  