

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577465354448601638.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-577465354448601638.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-577465354448601638.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577465354448601638.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577465354448601638.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577465354448601638.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577465354448601638.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577465354448601638.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577465354448601638.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577465354448601638.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577465354448601638.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577465354448601638.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-577465354448601638.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577465354448601638.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577465354448601638.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-577465354448601638.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577465354448601638.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577465354448601638.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577465354448601638.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-577465354448601638.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577465354448601638.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577465354448601638.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-577465354448601638.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-577465354448601638.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-577465354448601638.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577465354448601638.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577465354448601638.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577465354448601638.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-577465354448601638.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577465354448601638.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577465354448601638.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-577465354448601638.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577465354448601638.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577465354448601638.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-577465354448601638.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577465354448601638.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577465354448601638.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577465354448601638.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577465354448601638.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577465354448601638.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577465354448601638.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577465354448601638.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577465354448601638.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577465354448601638.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577465354448601638.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577465354448601638.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577465354448601638.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577465354448601638.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577465354448601638.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577465354448601638.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577465354448601638.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577465354448601638.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577465354448601638.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-577465354448601638.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577465354448601638.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577465354448601638.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577465354448601638.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577465354448601638.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577465354448601638.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577465354448601638.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577465354448601638.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577465354448601638.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577465354448601638.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-577465354448601638.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577465354448601638.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577465354448601638.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577465354448601638.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-577465354448601638.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577465354448601638.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577465354448601638.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577465354448601638.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-577465354448601638.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-577465354448601638.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577465354448601638.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577465354448601638.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577465354448601638.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577465354448601638.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577465354448601638.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577465354448601638.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-577465354448601638.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577465354448601638.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577465354448601638.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577465354448601638.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577465354448601638.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-577465354448601638.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-577465354448601638.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-577465354448601638.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577465354448601638.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577465354448601638.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577465354448601638.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577465354448601638.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-577465354448601638.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577465354448601638.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577465354448601638 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-577465354448601638 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-577465354448601638 .gp-relative{position:relative}.gps-577465354448601638 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577465354448601638 .gp-mb-0{margin-bottom:0}.gps-577465354448601638 .gp-inline-block{display:inline-block}.gps-577465354448601638 .gp-flex{display:flex}.gps-577465354448601638 .gp-grid{display:grid}.gps-577465354448601638 .gp-contents{display:contents}.gps-577465354448601638 .\!gp-hidden{display:none!important}.gps-577465354448601638 .gp-hidden{display:none}.gps-577465354448601638 .gp-h-auto{height:auto}.gps-577465354448601638 .gp-h-full{height:100%}.gps-577465354448601638 .gp-w-full{width:100%}.gps-577465354448601638 .gp-max-w-full{max-width:100%}.gps-577465354448601638 .gp-flex-none{flex:none}.gps-577465354448601638 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577465354448601638 .gp-flex-col{flex-direction:column}.gps-577465354448601638 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577465354448601638 .gp-duration-200{transition-duration:.2s}.gps-577465354448601638 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577465354448601638 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-577465354448601638 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-577465354448601638 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-577465354448601638 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-577465354448601638 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-577465354448601638 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-577465354448601638 .after\:gp-text-black:after{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity));content:var(--tw-content)}.gps-577465354448601638 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-577465354448601638 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-577465354448601638 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (max-width:1024px){.gps-577465354448601638 .tablet\:\!gp-hidden{display:none!important}.gps-577465354448601638 .tablet\:gp-hidden{display:none}.gps-577465354448601638 .tablet\:gp-h-auto{height:auto}.gps-577465354448601638 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-577465354448601638 .mobile\:\!gp-hidden{display:none!important}.gps-577465354448601638 .mobile\:gp-hidden{display:none}.gps-577465354448601638 .mobile\:gp-h-auto{height:auto}.gps-577465354448601638 .mobile\:gp-flex-none{flex:none}}.gps-577465354448601638 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8YKpO8dan"}' data-id="g8YKpO8dan" id="g8YKpO8dan" data-same-height-subgrid-container class="g8YKpO8dan gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--pt:0px;--pb:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:42px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEeJ7yjIYY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gh3EqmPxkd"}' data-id="gh3EqmPxkd" id="gh3EqmPxkd" data-same-height-subgrid-container class="gh3EqmPxkd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pl:20px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5IXxdeVGA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsVBAocj9B"}' data-id="gsVBAocj9B" id="gsVBAocj9B" data-same-height-subgrid-container class="gsVBAocj9B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goclc0a9nW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTfwx5OVu8"
        class="gTfwx5OVu8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:38px;--mt-mobile:10px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402723"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTfwx5OVu8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gzoW5Rk6_Q"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--focus-bblr:6px;--focus-bbrr:6px;--focus-btlr:6px;--focus-btrr:6px;-undefined-bblr:6px;-undefined-bbrr:6px;-undefined-btlr:6px;-undefined-btrr:6px;--mb:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1753890402724 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzoW5Rk6_Q"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-13ccba75-0081-47b7-98b9-30ce7964fccb.jpg" | file_url }}" srcset="{{ "gempages_574378713941017811-13ccba75-0081-47b7-98b9-30ce7964fccb.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" | file_url }}" srcset="{{ "gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-13ccba75-0081-47b7-98b9-30ce7964fccb.jpg" | file_url }}" data-src="{{ "gempages_574378713941017811-13ccba75-0081-47b7-98b9-30ce7964fccb.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:500/500;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzoW5Rk6_Q">
        .gzoW5Rk6_Q {

}
.gzoW5Rk6_Q > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQ0iRaAdmT"
        class="gQ0iRaAdmT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402724"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQ0iRaAdmT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQ0iRaAdmT">
        .gQ0iRaAdmT {

}
.gQ0iRaAdmT p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwWkx2k6It"
        class="gwWkx2k6It"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:16px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402724"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwWkx2k6It_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gwWkx2k6It">
        .gwWkx2k6It {

}
.gwWkx2k6It p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gQmodJ5acr"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1753890402725 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQmodJ5acr"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-c38ad1c8-625d-4d4a-b6e8-5975427eb213.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-c38ad1c8-625d-4d4a-b6e8-5975427eb213.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_574378713941017811-c38ad1c8-625d-4d4a-b6e8-5975427eb213.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_574378713941017811-c38ad1c8-625d-4d4a-b6e8-5975427eb213.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4t59GfUHB"
        class="g4t59GfUHB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402725"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4t59GfUHB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4t59GfUHB">
        .g4t59GfUHB {

}
.g4t59GfUHB p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxDyDai6Fk"
        class="gxDyDai6Fk"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:24px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402726"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxDyDai6Fk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxDyDai6Fk">
        .gxDyDai6Fk {

}
.gxDyDai6Fk p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gT0FDPHQBX"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1753890402726 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gT0FDPHQBX"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:500/500;--aspect-tablet:500/500;--aspect-mobile:600/700;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:600px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKy28TUxcH"
        class="gKy28TUxcH"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:35px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402727"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKy28TUxcH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gKy28TUxcH">
        .gKy28TUxcH {

}
.gKy28TUxcH p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJZswK9k6d"
        class="gJZswK9k6d"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402727"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJZswK9k6d_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="goUsQpq51O"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--focus-bblr:6px;--focus-bbrr:6px;--focus-btlr:6px;--focus-btrr:6px;-undefined-bblr:6px;-undefined-bbrr:6px;-undefined-btlr:6px;-undefined-btrr:6px;--mb:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1753890402727 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goUsQpq51O"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-6df87f69-6d76-4c8e-9f4f-c6f2e6c185dc.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-6df87f69-6d76-4c8e-9f4f-c6f2e6c185dc.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_574378713941017811-6df87f69-6d76-4c8e-9f4f-c6f2e6c185dc.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTE1MzYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxNTM2IiBmaWxsPSJ1cmwoI2ctMTAyNC0xNTM2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_574378713941017811-6df87f69-6d76-4c8e-9f4f-c6f2e6c185dc.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:500/500;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-goUsQpq51O">
        .goUsQpq51O {

}
.goUsQpq51O > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4J3cwoCEz"
        class="g4J3cwoCEz"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:26px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402728"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4J3cwoCEz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4J3cwoCEz">
        .g4J3cwoCEz {

}
.g4J3cwoCEz p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2OvPLISZN"
        class="g2OvPLISZN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:23px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402728"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2OvPLISZN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gW9c1EvV3N"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--focus-bblr:6px;--focus-bbrr:6px;--focus-btlr:6px;--focus-btrr:6px;-undefined-bblr:6px;-undefined-bbrr:6px;-undefined-btlr:6px;-undefined-btrr:6px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1753890402728 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gW9c1EvV3N"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-e315ef7a-938d-4a61-a1ce-168f512a2922.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-e315ef7a-938d-4a61-a1ce-168f512a2922.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_574378713941017811-e315ef7a-938d-4a61-a1ce-168f512a2922.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_574378713941017811-e315ef7a-938d-4a61-a1ce-168f512a2922.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500%;--h:auto;--h-tablet:auto;--h-mobile:300px"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gW9c1EvV3N">
        .gW9c1EvV3N {

}
.gW9c1EvV3N > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gU_lb-6pDF"
        class="gU_lb-6pDF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:37px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402729"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggU_lb-6pDF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gU_lb-6pDF">
        .gU_lb-6pDF {

}
.gU_lb-6pDF p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giMkxB6xzM"
        class="giMkxB6xzM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-xl);--mb-mobile:20px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402730"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiMkxB6xzM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-giMkxB6xzM">
        .giMkxB6xzM {

}
.giMkxB6xzM p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g5SW6p6e4e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBK7JCIl7c"
        class="gBK7JCIl7c"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753890402732"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-577465354448601638 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577465354364650022&sectionId=577465354448601638)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTfwx5OVu8_text","label":"ggTfwx5OVu8_text","default":"<strong>Ein stiller Abschied  mein letzter Schmuck fr deinen Schlaf</strong>"},{"type":"html","id":"ggQ0iRaAdmT_text","label":"ggQ0iRaAdmT_text","default":"<p>Letzte Stcke im Licht der Ruhe. Sanft abgelegt, still bereit.</p>"},{"type":"html","id":"ggwWkx2k6It_text","label":"ggwWkx2k6It_text","default":"<p><strong>Mit ruhiger Hand gefertigt.</strong> Ein stiller <strong>Talisman</strong> fr die <strong>Nacht. J</strong>ahrelang konnte ich nicht <strong>schlafen. </strong>Mein <strong>Krper</strong> war mde. Mein <strong>Kopf</strong> zu voll. Selbst wenn das Leben ruhig wirkte, waren meine <strong>Nchte</strong> schwer und unruhig.</p><p>&nbsp;</p><p>Ich probierte <strong>alles.</strong> Warmen Tee, leise Musik, unzhlige Rituale. <strong>Nichts</strong> half auf Dauer. Dann, an einem Winterabend, schenkte mir meine <strong>Mutter</strong> einen <strong>Mondstein. </strong>Keine Worte. Nur ein <strong>stilles Geschenk.</strong></p>"},{"type":"html","id":"gg4t59GfUHB_text","label":"gg4t59GfUHB_text","default":"<p>Ein Geschenk ohne Worte. Der Beginn von etwas Weichem.</p>"},{"type":"html","id":"ggxDyDai6Fk_text","label":"ggxDyDai6Fk_text","default":"<p>Ich legte ihn neben mein <strong>Bett.</strong> In dieser Nacht schlief ich nicht durch. Aber ich wachte auf mit einer <strong>Sanftheit,</strong> die ich seit Jahren nicht gesprt hatte. Spter begann ich, ihn tagsber zu <strong>tragen.</strong><br>Mein <strong>Atem</strong> wurde ruhiger. Meine <strong>Gedanken</strong> leiser. Selbst wenn der Stein nur in meiner <strong>Nhe</strong> war, sprte ich, wie etwas in mir zur <strong>Ruhe</strong> kam.</p><p>&nbsp;</p><p>So <strong>begann</strong> es. Der Mondstein heilte mich nicht. Aber er <strong>trstete</strong> mich. Er wurde Teil meines <strong>Schlafs. </strong>Und nach und nach. Teil meiner <strong>Heilung.</strong></p>"},{"type":"html","id":"ggKy28TUxcH_text","label":"ggKy28TUxcH_text","default":"<p>In Stille gefertigt. Jedes Stck ein stiller Begleiter durch die Nacht</p>"},{"type":"html","id":"ggJZswK9k6d_text","label":"ggJZswK9k6d_text","default":"<p>Ich begann, in diesen stillen, schlaflosen Stunden <strong>Schmuck</strong> zu machen. Nicht als <strong>Geschft,</strong> sondern als <strong>Ritual. Schlaf</strong> war etwas <strong>Heiliges.</strong> <strong>Mondstein</strong> war mein <strong>Material.</strong></p><p><br>&nbsp;</p><p>Jetzt, mit <strong>70 Jahren,</strong> gehe ich in den <strong>Ruhestand. </strong>Mit <strong>Frieden</strong> im Herzen schliee ich mein <strong>Atelier. </strong>Doch bevor ich gehe, schenke ich dir, was bleibt. <strong>Meine letzten Mondsteinschmuckstcke.</strong> Von Hand gefertigt fr <strong>Ruhe</strong> und <strong>Erneuerung.</strong></p><p>&nbsp;</p>"},{"type":"html","id":"gg4J3cwoCEz_text","label":"gg4J3cwoCEz_text","default":"<p>Wenn Schmuck mehr ist als Schmuck. Ein Gru an deinen Schlaf.</p>"},{"type":"html","id":"gg2OvPLISZN_text","label":"gg2OvPLISZN_text","default":"<p> <strong>Keine Albtrume</strong> mehr<br> <strong>Erholt aufwachen</strong><br> <strong>Leichter einschlafen</strong></p><p>&nbsp;</p><p>Jahrelang habe ich meine Stcke mit Bedacht bepreist. Aber <strong>Mondstein</strong> war nicht immer fr alle <strong>erschwinglich.</strong><br>Deshalb, und nur ein einziges Mal,<br>biete ich sie zu einem <strong>Preis</strong> an, den ich so noch nie vergeben habe.</p><p>&nbsp;</p><p>Denn <strong>niemand</strong> sollte zwischen <strong>Ruhe</strong> und <strong>Preis</strong> entscheiden mssen.</p><p>&nbsp;</p><p>Diese letzten Stcke sind mehr als <strong>Schmuck. </strong>Sie sind <strong>stille Begleiter</strong> fr alle, die sich nach <strong>Schlaf</strong> sehnen.<br>Die sich nach <strong>Weichheit</strong> sehnen.<br>Nach einem <strong>sanften</strong> Weg in die <strong>Nacht.</strong></p><p>&nbsp;</p><p><strong>Bis Sonntag</strong> sind sie noch <strong>erhltlich.</strong><br>Danach schliet das <strong>Atelier.</strong><br>Und ich werde <strong>ruhen.</strong> Ganz. <strong>Endlich.</strong></p>"},{"type":"html","id":"ggU_lb-6pDF_text","label":"ggU_lb-6pDF_text","default":"<p>Der Raum ist still geworden. Doch was bleibt, trgt Erinnerung.</p>"},{"type":"html","id":"ggiMkxB6xzM_text","label":"ggiMkxB6xzM_text","default":"<p><strong>Mit tiefer Dankbarkeit.</strong></p><p><br>Von Herzen,<br>Claudia Meissner</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
