
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582069065367945841.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-582069065367945841.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-582069065367945841.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582069065367945841.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582069065367945841.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582069065367945841.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582069065367945841.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582069065367945841.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582069065367945841.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582069065367945841.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582069065367945841.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582069065367945841.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582069065367945841.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582069065367945841.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582069065367945841.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-582069065367945841.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-582069065367945841.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582069065367945841.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582069065367945841.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582069065367945841.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582069065367945841.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582069065367945841.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582069065367945841.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582069065367945841.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582069065367945841.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582069065367945841.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582069065367945841.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582069065367945841.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582069065367945841.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582069065367945841.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-582069065367945841.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582069065367945841.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582069065367945841.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582069065367945841.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582069065367945841.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582069065367945841.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-582069065367945841.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-582069065367945841.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-582069065367945841.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-582069065367945841.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-582069065367945841.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582069065367945841.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582069065367945841.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582069065367945841.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582069065367945841.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582069065367945841.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582069065367945841.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582069065367945841.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582069065367945841.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582069065367945841.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-582069065367945841.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582069065367945841.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582069065367945841.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582069065367945841.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582069065367945841.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-582069065367945841.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582069065367945841.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-582069065367945841.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-582069065367945841.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582069065367945841.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582069065367945841.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-582069065367945841.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582069065367945841.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582069065367945841.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-582069065367945841.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582069065367945841.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-582069065367945841.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-582069065367945841.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582069065367945841.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-582069065367945841.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-582069065367945841.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-582069065367945841.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582069065367945841.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582069065367945841.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-582069065367945841.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-582069065367945841.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582069065367945841.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582069065367945841 .gp-relative{position:relative}.gps-582069065367945841 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582069065367945841 .gp-mb-0{margin-bottom:0}.gps-582069065367945841 .gp-inline-block{display:inline-block}.gps-582069065367945841 .gp-flex{display:flex}.gps-582069065367945841 .gp-grid{display:grid}.gps-582069065367945841 .gp-contents{display:contents}.gps-582069065367945841 .\!gp-hidden{display:none!important}.gps-582069065367945841 .gp-hidden{display:none}.gps-582069065367945841 .gp-h-auto{height:auto}.gps-582069065367945841 .gp-h-full{height:100%}.gps-582069065367945841 .gp-w-full{width:100%}.gps-582069065367945841 .gp-max-w-full{max-width:100%}.gps-582069065367945841 .gp-flex-none{flex:none}.gps-582069065367945841 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582069065367945841 .gp-flex-col{flex-direction:column}.gps-582069065367945841 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582069065367945841 .gp-duration-200{transition-duration:.2s}.gps-582069065367945841 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582069065367945841 .tablet\:\!gp-hidden{display:none!important}.gps-582069065367945841 .tablet\:gp-hidden{display:none}.gps-582069065367945841 .tablet\:gp-h-auto{height:auto}.gps-582069065367945841 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-582069065367945841 .mobile\:\!gp-hidden{display:none!important}.gps-582069065367945841 .mobile\:gp-hidden{display:none}.gps-582069065367945841 .mobile\:gp-h-auto{height:auto}.gps-582069065367945841 .mobile\:gp-flex-none{flex:none}}.gps-582069065367945841 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F1EA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"g-YAXmn210"}' data-id="g-YAXmn210" id="g-YAXmn210" data-same-height-subgrid-container class="g-YAXmn210 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:48px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F1EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1Nw8Lm69n gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g59VKfvk_b"
        class="g59VKfvk_b"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758008153367"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg59VKfvk_b_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8Kgheu998"
        class="g8Kgheu998"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:16px;--mr:0px;--pl:0px;--pr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758008153369"
      >
      <div class="gp-flex" style="--jc:center">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:30px;--size-tablet:40px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8Kgheu998_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpo1MwZj_Y"}' data-id="gpo1MwZj_Y" id="gpo1MwZj_Y" data-same-height-subgrid-container class="gpo1MwZj_Y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:9px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g5VZnpq28k gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxeUIxSKmq"}' data-id="gxeUIxSKmq" id="gxeUIxSKmq" data-same-height-subgrid-container class="gxeUIxSKmq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gpKPY_My2P gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gNxVmCKZWK"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1758008153374 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNxVmCKZWK"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-d76c5798-1090-4d50-a50a-954af3ca1ffd.png" | file_url }}" srcset="{{ "gempages_574378713941017811-d76c5798-1090-4d50-a50a-954af3ca1ffd.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-d76c5798-1090-4d50-a50a-954af3ca1ffd.png" | file_url }}" srcset="{{ "gempages_574378713941017811-d76c5798-1090-4d50-a50a-954af3ca1ffd.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-d76c5798-1090-4d50-a50a-954af3ca1ffd.png" | file_url }}" data-src="{{ "gempages_574378713941017811-d76c5798-1090-4d50-a50a-954af3ca1ffd.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:1/1;--objf:contain;--w-mobile:30px;--h:60px;--h-tablet:60px;--h-mobile:auto;--btrr:999px;--bblr:999px;--bbrr:999px;--btlr:999px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gxEHnQoqxr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gusexPvwZj"
        class="gusexPvwZj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758008153376"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggusexPvwZj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gaat8BFXgO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSKqgXqrZs"
        class="gSKqgXqrZs"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758008153377"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSKqgXqrZs_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-582069065367945841 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582069039631696728&sectionId=582069065367945841)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg59VKfvk_b_text","label":"gg59VKfvk_b_text","default":"<p>Home &gt; Künstler der Woche &gt; <strong>Claudias Geschichte</strong></p>"},{"type":"html","id":"gg8Kgheu998_text","label":"gg8Kgheu998_text","default":"<span style=\"font-size:21px;\"><strong>Das Ende einer Ära für Freiburgs Mondstein-Handwerker</strong></span>"},{"type":"html","id":"ggusexPvwZj_text","label":"ggusexPvwZj_text","default":"<p>By&nbsp;<strong>Katharina Elisabeth Müller</strong></p>"},{"type":"html","id":"ggSKqgXqrZs_text","label":"ggSKqgXqrZs_text","default":"<p>Zuletzt aktualisiert: August 2025 | 8.152 Aufrufe</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  