
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584247492158554890.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584247492158554890.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584247492158554890.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584247492158554890.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584247492158554890.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584247492158554890.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584247492158554890.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584247492158554890.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584247492158554890.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584247492158554890.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584247492158554890.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584247492158554890.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584247492158554890.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584247492158554890.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584247492158554890.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584247492158554890.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-584247492158554890.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584247492158554890.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584247492158554890.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584247492158554890.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584247492158554890.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584247492158554890.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584247492158554890.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584247492158554890.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584247492158554890.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584247492158554890.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584247492158554890.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584247492158554890.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584247492158554890.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584247492158554890.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584247492158554890.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584247492158554890.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584247492158554890.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584247492158554890.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584247492158554890.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584247492158554890.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584247492158554890.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584247492158554890.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584247492158554890.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584247492158554890.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584247492158554890.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584247492158554890.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584247492158554890.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584247492158554890.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584247492158554890.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584247492158554890.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584247492158554890.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584247492158554890.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584247492158554890.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584247492158554890.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584247492158554890.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584247492158554890.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584247492158554890.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584247492158554890.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584247492158554890.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584247492158554890.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584247492158554890.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584247492158554890.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-584247492158554890.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584247492158554890.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584247492158554890.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584247492158554890.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584247492158554890.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584247492158554890.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584247492158554890.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584247492158554890.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584247492158554890.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584247492158554890.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584247492158554890.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584247492158554890.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584247492158554890.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584247492158554890.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-584247492158554890.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584247492158554890.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584247492158554890.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584247492158554890.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584247492158554890.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584247492158554890.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584247492158554890 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-584247492158554890 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-584247492158554890 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-584247492158554890 .gp-relative{position:relative}.gps-584247492158554890 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584247492158554890 .gp-mb-0{margin-bottom:0}.gps-584247492158554890 .gp-inline-block{display:inline-block}.gps-584247492158554890 .gp-flex{display:flex}.gps-584247492158554890 .gp-grid{display:grid}.gps-584247492158554890 .gp-contents{display:contents}.gps-584247492158554890 .\!gp-hidden{display:none!important}.gps-584247492158554890 .gp-hidden{display:none}.gps-584247492158554890 .gp-h-auto{height:auto}.gps-584247492158554890 .gp-h-full{height:100%}.gps-584247492158554890 .gp-w-full{width:100%}.gps-584247492158554890 .gp-max-w-full{max-width:100%}.gps-584247492158554890 .gp-flex-none{flex:none}.gps-584247492158554890 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584247492158554890 .gp-flex-col{flex-direction:column}.gps-584247492158554890 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584247492158554890 .gp-duration-200{transition-duration:.2s}.gps-584247492158554890 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584247492158554890 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-584247492158554890 .after\:gp-left-\[2px\]:after{content:var(--tw-content);left:2px}.gps-584247492158554890 .after\:gp-top-0:after{content:var(--tw-content);top:0}.gps-584247492158554890 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-584247492158554890 .after\:gp-select-none:after{content:var(--tw-content);-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-584247492158554890 .after\:gp-truncate:after{content:var(--tw-content);overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-584247492158554890 .after\:gp-text-black:after{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity));content:var(--tw-content)}.gps-584247492158554890 .after\:gp-opacity-20:after{content:var(--tw-content);opacity:.2}.gps-584247492158554890 .after\:gp-content-\[\'Your_custom_text_goes_here\'\]:after{--tw-content:"Your custom text goes here";content:var(--tw-content)}.gps-584247492158554890 .empty\:gp-pl-\[2px\]:empty{padding-left:2px}@media (max-width:1024px){.gps-584247492158554890 .tablet\:\!gp-hidden{display:none!important}.gps-584247492158554890 .tablet\:gp-hidden{display:none}.gps-584247492158554890 .tablet\:gp-h-auto{height:auto}.gps-584247492158554890 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584247492158554890 .mobile\:\!gp-hidden{display:none!important}.gps-584247492158554890 .mobile\:gp-hidden{display:none}.gps-584247492158554890 .mobile\:gp-h-auto{height:auto}.gps-584247492158554890 .mobile\:gp-flex-none{flex:none}}.gps-584247492158554890 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8YKpO8dan"}' data-id="g8YKpO8dan" id="g8YKpO8dan" data-same-height-subgrid-container class="g8YKpO8dan gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pb:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEeJ7yjIYY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gh3EqmPxkd"}' data-id="gh3EqmPxkd" id="gh3EqmPxkd" data-same-height-subgrid-container class="gh3EqmPxkd gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:20px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5IXxdeVGA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsVBAocj9B"}' data-id="gsVBAocj9B" id="gsVBAocj9B" data-same-height-subgrid-container class="gsVBAocj9B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:42px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="goclc0a9nW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTfwx5OVu8"
        class="gTfwx5OVu8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:38px;--mt-mobile:10px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930166"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--size:29px;--size-tablet:19px;--size-mobile:19px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTfwx5OVu8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwWkx2k6It"
        class="gwWkx2k6It"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930168"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwWkx2k6It_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gwWkx2k6It">
        .gwWkx2k6It {

}
.gwWkx2k6It p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gGrFgcWPoI"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:2px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:2px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757796930169 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gGrFgcWPoI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-558bf3e4-c9ad-4f08-8531-49a8bf534b93.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gzoW5Rk6_Q"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1757796930169 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzoW5Rk6_Q"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c_768x.png" srcset="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c_768x.png" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" srcset="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" data-src="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gzoW5Rk6_Q">
        .gzoW5Rk6_Q {

}
.gzoW5Rk6_Q > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQ0iRaAdmT"
        class="gQ0iRaAdmT"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930171"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQ0iRaAdmT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQ0iRaAdmT">
        .gQ0iRaAdmT {

}
.gQ0iRaAdmT p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGi73QvO-9"
        class="gGi73QvO-9"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930172"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:18px;--size-mobile:20px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGi73QvO-9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gGi73QvO-9">
        .gGi73QvO-9 {

}
.gGi73QvO-9 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxDyDai6Fk"
        class="gxDyDai6Fk"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930173"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxDyDai6Fk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxDyDai6Fk">
        .gxDyDai6Fk {

}
.gxDyDai6Fk p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gQmodJ5acr"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1757796930173 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQmodJ5acr"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b_768x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b.jpg" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4t59GfUHB"
        class="g4t59GfUHB"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930174"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4t59GfUHB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g4t59GfUHB">
        .g4t59GfUHB {

}
.g4t59GfUHB p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdHpaR-VXd"
        class="gdHpaR-VXd"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:36px;--mb-tablet:36px;--mb-mobile:36px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930175"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdHpaR-VXd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g5SW6p6e4e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBK7JCIl7c"
        class="gBK7JCIl7c"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930178"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXy41oKGxm"}' data-id="gXy41oKGxm" id="gXy41oKGxm" data-same-height-subgrid-container class="gXy41oKGxm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:20px;--pr:20px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:30px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFyvdECWtn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxFQh6zAm4"}' data-id="gxFQh6zAm4" id="gxFQh6zAm4" data-same-height-subgrid-container class="gxFQh6zAm4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:42px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSiLWM3o_Y gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gYicWv3nEi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:2px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:2px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:2px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757796930185 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gYicWv3nEi"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-437b2b50-21f4-4db5-9965-becfd1645223_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-437b2b50-21f4-4db5-9965-becfd1645223_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-437b2b50-21f4-4db5-9965-becfd1645223.jpg" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-437b2b50-21f4-4db5-9965-becfd1645223.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gIm80tQxB8"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1757796930186 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIm80tQxB8"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c_768x.png" srcset="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c_768x.png" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" srcset="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}" data-src="{{ "gempages_574378713941017811-db10800b-1a4a-4566-9bb8-b2c3bba0e77c.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gIm80tQxB8">
        .gIm80tQxB8 {

}
.gIm80tQxB8 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaitcreki4"
        class="gaitcreki4"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930187"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaitcreki4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gaitcreki4">
        .gaitcreki4 {

}
.gaitcreki4 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0EeoewwO6"
        class="g0EeoewwO6"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930188"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:18px;--size-mobile:20px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0EeoewwO6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0EeoewwO6">
        .g0EeoewwO6 {

}
.g0EeoewwO6 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g38K84QHkK"
        class="g38K84QHkK"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930189"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg38K84QHkK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g38K84QHkK">
        .g38K84QHkK {

}
.g38K84QHkK p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gmjxDlwdvu"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1757796930189 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gmjxDlwdvu"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b_768x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-1e19ba5f-5219-4ad8-a887-70da6fab2d4d_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-1e19ba5f-5219-4ad8-a887-70da6fab2d4d.jpg" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-1e19ba5f-5219-4ad8-a887-70da6fab2d4d.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3_XCYaZ1i"
        class="g3_XCYaZ1i"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930197"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3_XCYaZ1i_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g3_XCYaZ1i">
        .g3_XCYaZ1i {

}
.g3_XCYaZ1i p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdnGjPRb97"
        class="gdnGjPRb97"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:23px;--mb-tablet:23px;--mb-mobile:23px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930198"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdnGjPRb97_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gzD2qCQyVs"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--ta:left"
      class="gp-group/image gp-relative force-publish-1757796930199 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gzD2qCQyVs"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0617/9264/9365/files/gempages_574378713941017811-ca5e7cc6-571a-4504-9546-c7fb20da6c2b_768x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://www.claudia-schmuckatelier.com/cdn/shop/files/gempages_574378713941017811-c9049b17-7b81-45e8-8ca6-a1a5acb55cc2.jpg?v=15383563503585799817"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQEKiVcjmF"
        class="gQEKiVcjmF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930200"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--fs:italic;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQEKiVcjmF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQEKiVcjmF">
        .gQEKiVcjmF {

}
.gQEKiVcjmF p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gch42Pyojh"
        class="gch42Pyojh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930201"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggch42Pyojh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8yWzMGMw0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZWCUVIIgR"
        class="gZWCUVIIgR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757796930203"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-relative empty:gp-pl-[2px] after:gp-content-['Your_custom_text_goes_here'] after:gp-absolute after:gp-select-none after:gp-top-0 after:gp-left-[2px] after:gp-w-full after:gp-truncate after:gp-text-black after:gp-opacity-20 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:18px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-584247492158554890 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584247492091052810&sectionId=584247492158554890)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggTfwx5OVu8_text","label":"ggTfwx5OVu8_text","default":"<strong>Die Liebe erinnern  und die Geschichte dahinter</strong>"},{"type":"html","id":"ggwWkx2k6It_text","label":"ggwWkx2k6It_text","default":"<p>Ich war mde. Leer in mir. Still am Auseinanderfallen.</p><p>&nbsp;</p><p><strong>Die Trauer fhlte sich berwltigend an.</strong> Der <strong>leere Stuhl</strong> am Esstisch, die <strong>Stille</strong>, wo einst Lachen war, die <strong>schmerzende Leere</strong>, die keine Zeit zu heilen schien.</p><p>&nbsp;</p><p><strong>Ich hatte jemanden Kostbaren verloren</strong> und wusste nicht, wie ich <strong>seine Erinnerung tragen</strong> und gleichzeitig <strong>einen Weg zum Weiterleben finden</strong> sollte.</p><p>&nbsp;</p><p>Dann legte mir eines Tages meine Mutter einen kleinen <strong>Stein</strong> in die Hand.</p><p>&nbsp;</p><p>Und alles begann sich zu verndern. Heute sitze ich in meinem Atelier in Freiburg, wo ich seit Jahren jedes Stck <strong>Mondsteinschmuck</strong> von Hand fertige  <strong>langsam, sorgfltig und mit stiller Hingabe</strong>.</p><p>&nbsp;</p><p>Doch meine Reise begann lange, bevor ich je ein Werkzeug in die Hand nahm.</p>"},{"type":"html","id":"ggQ0iRaAdmT_text","label":"ggQ0iRaAdmT_text","default":"<p><i>In meinem Atelier in Freiburg  hier entstehen seit Jahren meine Begleiter fr heilende Herzen.</i></p>"},{"type":"html","id":"ggGi73QvO-9_text","label":"ggGi73QvO-9_text","default":"<p><strong>Ich war das stille Mdchen mit den Steintaschen.</strong></p>"},{"type":"html","id":"ggxDyDai6Fk_text","label":"ggxDyDai6Fk_text","default":"<p>Schon als Kind, aufgewachsen in einem kleinen Dorf in <strong>Sddeutschland</strong>, fhlte ich mich zum <strong>Himmel</strong> hingezogen  besonders zur <strong>Nacht</strong>.</p><p>&nbsp;</p><p>Nicht nur zu den Sternen, sondern zum <strong>Mond. Diesem sanften Leuchten</strong>, das nie das hellste sein musste, um doch gesehen zu werden. Stundenlang lag ich im Garten meiner Groeltern, schaute zu ihm hinauf und sprte sein Licht an Orten in mir, die keinen Namen hatten.</p><p>&nbsp;</p><p><strong>Aber schon als Kind verstand ich Verlust tief.</strong> Als meine geliebte Gromutter starb, als ich acht war, <strong>sprte ich ihre Abwesenheit</strong> wie einen <strong>krperlichen Schmerz</strong> in meiner Brust.</p><p>&nbsp;</p><p><strong>Ich schaute zum Mond und fragte mich</strong>, ob sie ihn auch sehen konnte, wo immer sie war. <strong>Die Trauer fhlte sich zu gro an</strong> fr mein kleines Herz.</p><p>&nbsp;</p><p>Ich war <strong>sensibel. Still. Ich fhlte alles tief  einschlielich der Last, jemanden zu vermissen.</strong></p><p><br><br>&nbsp;</p><p>Whrend die anderen Kinder schnell ber Traurigkeit hinwegzukommen schienen, <strong>sammelte ich Steine</strong>  kleine <strong>Schtze</strong>, die sich <strong>dauerhaft und bestndig</strong> anfhlten, wenn alles andere <strong>zerbrechlich und vergnglich</strong> erschien. <strong>Sie wurden meine Art, das zu ehren, was verloren war.</strong></p>"},{"type":"html","id":"gg4t59GfUHB_text","label":"gg4t59GfUHB_text","default":"<p>Ein stiller Moment aus meiner Kindheit  wo Steine sammeln bedeutete, Liebe am Leben zu erhalten.</p>"},{"type":"html","id":"ggdHpaR-VXd_text","label":"ggdHpaR-VXd_text","default":"<p>Zu Hause sprachen wir nicht viel ber <strong>Tod</strong> oder <strong>Trauer</strong>. Wir machten einfach weiter. <strong>Blieben stark. Machten schweigend weiter.</strong></p><p>&nbsp;</p><p>Aber ich war oft <strong>berwltigt von der Traurigkeit</strong>, <strong>Menschen zu vermissen</strong>, die nicht mehr da waren. <strong>Der Schmerz des Verlusts</strong> schien <strong>mir berallhin zu folgen.</strong></p><p>&nbsp;</p><p><strong>Ich lernte, Trauer still zu tragen</strong>, aber ich lernte nie, wie man <strong>sie in etwas Heilendes verwandelt.</strong></p><p>&nbsp;</p><p>Dieses Muster begleitete mich bis ins <strong>Erwachsenenalter.</strong></p><p>&nbsp;</p><p>Ich bemerkte immer andere <strong>trauernde Herzen</strong>  die mit <strong>fernen Blicken</strong>, die <strong>lchelten, aber anderswo zu sein schienen</strong>, die <strong>gelernt hatten, um die Form des Verlusts herum zu leben.</strong></p><p>&nbsp;</p><p><strong>Steine erinnerten mich daran, dass Liebe fortbesteht</strong>, auch wenn <strong>krperliche Anwesenheit</strong> endet.</p><p>&nbsp;</p><p>In meinen Zwanzigern und Dreiigern machte ich alles <strong>richtig. Einen sicheren Job. Eine langfristige Beziehung.</strong> Ein Leben, das auf dem Papier gut aussah.</p><p>&nbsp;</p><p>Aber innerlich trug ich <strong>unverarbeitete Trauer</strong> von <strong>mehreren Verlusten</strong>  <strong>Familienmitglieder</strong>, <strong>Freunde</strong>, <strong>Trume</strong>, die unterwegs gestorben waren. <strong>Die angesammelte Traurigkeit</strong> fhlte sich jedes Jahr schwerer an:</p><p>&nbsp;</p><p><strong>Todestage vermeiden. Sich schuldig fhlen fr Momente des Glcks. Angst haben, tief zu lieben,</strong> weil Verlust unvermeidlich schien. <strong>Das Gewicht unausgesprochener Abschiede</strong> tragen.</p><p>&nbsp;</p><p><strong>Ich hatte gelernt, Verlust zu berleben,</strong> aber nicht, <strong>davon zu heilen.</strong></p><p>&nbsp;</p><p>Mit 33 hatte ich einen <strong>Zusammenbruch.</strong></p><p>&nbsp;</p><p><strong>Emotional erschpft. Ausgebrannt. Alles anzweifelnd.</strong></p><p>&nbsp;</p><p><strong>Die Trauer, die ich vermieden hatte,</strong> verlangte endlich gefhlt zu werden. <strong>Jeder Verlust,</strong> den ich unterdrckt hatte, <strong>kam auf einmal zurck,</strong> und ich konnte nicht lnger so tun, als wre ich stark.</p><p>&nbsp;</p><p>Meine Eltern bemerkten es  besonders meine <strong>Mutter.</strong></p><p>&nbsp;</p><p>Sie war nie gut mit Worten, aber eines Tages legte sie mir eine kleine Schachtel in die Hnde. Darin lag ein Stein, <strong>blass und schimmernd wie Mondlicht.</strong></p><p>&nbsp;</p><p><strong>Ein Mondstein.</strong></p><p><br>Wir sahen ihn in <strong>sterreich</strong>, sagte sie. Er erinnerte uns an <strong>dich</strong>.\"</p>"},{"type":"html","id":"ggaitcreki4_text","label":"ggaitcreki4_text","default":"<p><i>Der Moment, der alles vernderte  ein stilles Geschenk, das mir zeigte, wie man mit Anmut trauert.</i></p>"},{"type":"html","id":"gg0EeoewwO6_text","label":"gg0EeoewwO6_text","default":"<p><strong>Ein leiser Neuanfang  getragen von einem Stein, der Raum fr Liebe und Verlust hielt.</strong></p>"},{"type":"html","id":"gg38K84QHkK_text","label":"gg38K84QHkK_text","default":"<p>Damals wusste ich nicht, dass dieser <strong>Stein mein Leben verndern wrde</strong>.</p><p>&nbsp;</p><p>In jener Nacht legte ich ihn auf meinen <strong>Nachttisch</strong>. Zum ersten Mal seit Jahren erlaubte ich mir, <strong>das volle Gewicht meiner Trauer zu fhlen</strong>, ohne zu versuchen, ihr zu entkommen. <strong>Die Trnen flossen frei</strong>  nicht nur Trnen der Traurigkeit, sondern Trnen der <strong>Liebe, die keinen Platz mehr hatte</strong>. Spter trug ich ihn um meinen Hals  <strong>still</strong>, nur fr mich.</p><p>&nbsp;</p><p>Er wurde zu einer <strong>stillen Erinnerung</strong>:</p><p>&nbsp;</p><p><strong>Dass Trauer Liebe ist, die keinen Ort mehr hat. Dass Erinnern eine Form des Ehrens ist. Dass die, die wir lieben, uns niemals ganz verlassen. Dass Heilung nicht Vergessen bedeutet.</strong></p><p>&nbsp;</p><p>Als ich seine Bedeutung las, erfuhr ich, dass <strong>Mondstein seit jeher als Stein des Trostes und des bergangs verehrt wird</strong>  er untersttzt dabei, <strong>Trauer zu verarbeiten</strong>, <strong>Erinnerungen zu ehren</strong> und <strong>Frieden zu finden</strong> mit den natrlichen Zyklen von Verlust und Erneuerung.</p><p>&nbsp;</p><p><strong>Alte Kulturen nutzten Mondstein, um Menschen durch Verlust zu begleiten</strong> und <strong>die Verbindung zu geliebten Verstorbenen aufrechtzuerhalten</strong>. Er ist bekannt fr seine <strong>sanfte, trstende Energie</strong>, die dem Herzen hilft, <strong>zu heilen und gleichzeitig die Liebe lebendig zu halten</strong>.</p><p>&nbsp;</p><p>Und genau das war es, was <strong>ich brauchte</strong>.</p><p>&nbsp;</p><p>Ich hrte auf, vor <strong>meiner Trauer</strong> davonzulaufen. Ich begann, <strong>meine Verluste zu ehren</strong> als <strong>heilige Erfahrungen</strong>, die mich geprgt hatten. Ich erkannte, dass <strong>Heilung von Trauer</strong> nicht bedeutet, <strong>weiterzumachen</strong>  sondern <strong>Liebe auf eine neue Weise zu tragen</strong>.</p><p>&nbsp;</p><p><strong>Ich lernte, dass es in Ordnung ist, jemanden auch nach Jahren noch zu vermissen.</strong> <strong>Ich entdeckte, dass Freude und Traurigkeit</strong> <strong>nebeneinander bestehen knnen.</strong> <strong>Ich fand Wege, Erinnerungen lebendig zu halten,</strong> die <strong>Trost statt Schmerz</strong> brachten.</p><p>&nbsp;</p><p>Mit 38 begann ich, kleine <strong>Schmuckstcke herzustellen. Nicht zum Verkauf</strong>. Nur fr mich. Fr <strong>Freunde</strong>. In den stillen Momenten nach der Arbeit  <strong>leise Musik</strong>, eine <strong>warme Tasse Tee</strong>, <strong>Mondsteine</strong> auf dem Tisch.</p><p>&nbsp;</p><p>Es ging nie um <strong>Geschft</strong>. Es ging um <strong>Atmen</strong>. Um das <strong>Schaffen von etwas Schnem</strong> aus dem <strong>Schmerz des Vermissens</strong>. Um das <strong>Ehren einer Liebe, die ber krperliche Gegenwart hinausgeht</strong>.</p>"},{"type":"html","id":"gg3_XCYaZ1i_text","label":"gg3_XCYaZ1i_text","default":"<p><i>Mein heiliger Raum  wo Liebe Trauer in bleibende Schnheit verwandelt.</i></p>"},{"type":"html","id":"ggdnGjPRb97_text","label":"ggdnGjPRb97_text","default":"<p><i><strong>Von Hand gemacht, von Herzen  getragen von einer Liebe, die niemals stirbt.</strong></i></p><p>Was als <strong>privates Ritual</strong> begann, wurde langsam zu einer <strong>Berufung</strong>. <strong>Handgemacht. Von Herzen. Geleitet von tiefer Mitgefhl</strong> fr <strong>Herzen, die schmerzen</strong>.</p><p>&nbsp;</p><p>Eines Tages fertigte ich eine <strong>Mondstein-Kette</strong> fr eine liebe Freundin, die ihren <strong>jugendlichen Sohn</strong> bei einem Unfall <strong>verloren</strong> hatte. Sie <strong>ertrank in Trauer</strong> und konnte sich nicht <strong>vorstellen, jemals wieder ganz zu sein</strong>.</p><p>&nbsp;</p><p>Als sie begann, sie zu tragen, <strong>vernderte sich etwas sanft</strong>. Sie sagte, es helfe ihr, sich <strong>immer noch mit ihm verbunden zu fhlen</strong>, als wre <strong>seine Liebe irgendwie im Stein anwesend</strong>. Es nahm ihr die Trauer nicht, aber es machte sie <strong>ertrglicher</strong> und sogar <strong>heilig</strong>.</p><p>&nbsp;</p><p>Es bringt ihn nicht zurck, sagte sie unter Trnen, aber es hilft mir, <strong>seine Liebe weiterzutragen</strong>. Als wrde er mich immer noch <strong>beschtzen</strong>.</p><p>Dieser Moment bleibt mir <strong>bis heute</strong>.</p><p>&nbsp;</p><p>Heute bin ich <strong>70</strong>. Ich fertige jedes Stck noch immer <strong>von Hand</strong> in meinem Zuhause in Freiburg. Mein Atelier ist <strong>einfach</strong>: ein <strong>Holztisch</strong>, ein <strong>lichtdurchflutetes Fenster</strong> und ein stilles <strong>Notizbuch voller Geschichten</strong> von Menschen, die lernen, <strong>ber den Verlust hinaus zu lieben</strong>.</p><p>&nbsp;</p><p><strong>Der Mondstein steht immer noch im Zentrum von allem. Denn fr mich war er nie nur ein Edelstein.</strong></p><p>&nbsp;</p><p><strong>Er ist Liebe, die ewig bleibt. Dass der Tod die Liebe nicht mindern kann. Dass Erinnerung eine Form von Gegenwart ist. Dass Trauer der Preis fr gelebte Liebe ist. Dass Heilung ehrt, anstatt zu vergessen.</strong></p><p>&nbsp;</p><p>Nach vielen <strong>stillen, erfllten Jahren</strong> spre ich: Es ist Zeit, <strong>loszulassen. Ich gehe in Rente</strong> und schliee meinen <strong>Shop</strong> an diesem Wochenende.</p><p>Ich treffe diese Entscheidung mit <strong>Frieden. Mit Zrtlichkeit. Mit tiefer Dankbarkeit.</strong> Ich werde keine neuen <strong>Kollektionen</strong> mehr erschaffen.</p><p>&nbsp;</p><p>Was jetzt bleibt, sind die letzten Stcke  <strong>sanfte Begleiter</strong> fr all jene, die <strong>das Gewicht von Verlust tragen</strong>, die <strong>geliebte Erinnerungen ehren wollen</strong>, die lernen, <strong>Trauer in bleibende Liebe zu verwandeln</strong>.</p><p>&nbsp;</p><p>Fr jene, die bereit sind, sich zu <strong>erinnern, dass Liebe niemals wirklich stirbt</strong>.</p><p>&nbsp;</p><p>Diese letzten Stcke sind <strong>nicht das Ende. Sie sind ein stiller Abschied</strong>  jedes trgt die gleiche <strong>ewige Liebe</strong>, mit der alles begann.</p>"},{"type":"html","id":"ggQEKiVcjmF_text","label":"ggQEKiVcjmF_text","default":"<p><i>Jedes Stck ist geschaffen, um Raum zu halten fr eine Liebe, die den Verlust berdauert.</i></p>"},{"type":"html","id":"ggch42Pyojh_text","label":"ggch42Pyojh_text","default":"<p><strong>Meine letzten Mondstein-Stcke sind bis Ende dieses Wochenendes verfgbar.</strong></p><p>&nbsp;</p><p>Danach beende ich meine Arbeit. Jedes Stck ist handgefertigt, mit herzlicher Frsorge und tiefer Liebe erschaffen.</p><p>&nbsp;</p><p><strong>Fr jene, die Liebe ber den Verlust hinaus tragen.</strong><br><strong>Fr jene, die kostbare Erinnerungen ehren mchten.</strong><br><strong>Fr jene, die lernen, beim Erinnern zu heilen.</strong></p><p>&nbsp;</p><p><strong>Von Herzen,</strong><br><strong>Claudia Meissner</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  