
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583838800820568899.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583838800820568899.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583838800820568899.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583838800820568899.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583838800820568899.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583838800820568899.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583838800820568899.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583838800820568899.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583838800820568899.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583838800820568899.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583838800820568899.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583838800820568899.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583838800820568899.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583838800820568899.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583838800820568899.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583838800820568899.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583838800820568899.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583838800820568899.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583838800820568899.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583838800820568899.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583838800820568899.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583838800820568899.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583838800820568899.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583838800820568899.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583838800820568899.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583838800820568899.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583838800820568899.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583838800820568899.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583838800820568899.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583838800820568899.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583838800820568899.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583838800820568899.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583838800820568899.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-583838800820568899.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583838800820568899.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583838800820568899.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583838800820568899.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583838800820568899.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583838800820568899.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583838800820568899.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583838800820568899.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583838800820568899.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583838800820568899.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583838800820568899.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583838800820568899.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583838800820568899.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583838800820568899.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583838800820568899.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-583838800820568899.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583838800820568899.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583838800820568899.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583838800820568899.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583838800820568899.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583838800820568899.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583838800820568899.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583838800820568899.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583838800820568899.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583838800820568899.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583838800820568899.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583838800820568899.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-583838800820568899.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583838800820568899.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583838800820568899.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583838800820568899.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583838800820568899.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583838800820568899.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583838800820568899.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583838800820568899.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583838800820568899.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583838800820568899.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-583838800820568899.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-583838800820568899.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-583838800820568899.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583838800820568899.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583838800820568899.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583838800820568899.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583838800820568899.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-583838800820568899.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583838800820568899.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583838800820568899.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583838800820568899.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583838800820568899.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583838800820568899.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583838800820568899.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583838800820568899.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583838800820568899.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-583838800820568899.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583838800820568899.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583838800820568899.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583838800820568899.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583838800820568899.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583838800820568899.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583838800820568899.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-583838800820568899.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583838800820568899.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583838800820568899 .gp-relative{position:relative}.gps-583838800820568899 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583838800820568899 .gp-mb-0{margin-bottom:0}.gps-583838800820568899 .gp-inline-block{display:inline-block}.gps-583838800820568899 .gp-flex{display:flex}.gps-583838800820568899 .gp-inline-flex{display:inline-flex}.gps-583838800820568899 .gp-grid{display:grid}.gps-583838800820568899 .gp-contents{display:contents}.gps-583838800820568899 .\!gp-hidden{display:none!important}.gps-583838800820568899 .gp-hidden{display:none}.gps-583838800820568899 .gp-h-auto{height:auto}.gps-583838800820568899 .gp-h-full{height:100%}.gps-583838800820568899 .gp-w-full{width:100%}.gps-583838800820568899 .gp-max-w-full{max-width:100%}.gps-583838800820568899 .gp-flex-none{flex:none}.gps-583838800820568899 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583838800820568899 .gp-flex-col{flex-direction:column}.gps-583838800820568899 .gp-items-center{align-items:center}.gps-583838800820568899 .gp-justify-center{justify-content:center}.gps-583838800820568899 .gp-overflow-hidden{overflow:hidden}.gps-583838800820568899 .gp-break-words{overflow-wrap:break-word}.gps-583838800820568899 .gp-text-center{text-align:center}.gps-583838800820568899 .gp-no-underline{text-decoration-line:none}.gps-583838800820568899 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583838800820568899 .gp-duration-200{transition-duration:.2s}.gps-583838800820568899 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583838800820568899 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583838800820568899 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583838800820568899 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-583838800820568899 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583838800820568899 .tablet\:\!gp-hidden{display:none!important}.gps-583838800820568899 .tablet\:gp-hidden{display:none}.gps-583838800820568899 .tablet\:gp-h-auto{height:auto}.gps-583838800820568899 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583838800820568899 .mobile\:\!gp-hidden{display:none!important}.gps-583838800820568899 .mobile\:gp-hidden{display:none}.gps-583838800820568899 .mobile\:gp-h-auto{height:auto}.gps-583838800820568899 .mobile\:gp-flex-none{flex:none}}.gps-583838800820568899 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-583838800820568899 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gtNR7nwHIa"}' data-id="gtNR7nwHIa" id="gtNR7nwHIa" data-same-height-subgrid-container class="gtNR7nwHIa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1zwFs9Dis gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gNaq838ckr"}' data-id="gNaq838ckr" id="gNaq838ckr" data-same-height-subgrid-container class="gNaq838ckr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gB8T9m5QrP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="guA4T4ffTK"
      style="--mt:var(--g-s-3xl);--ml:var(--g-s-3xl);--mb:var(--g-s-3xl);--mr:var(--g-s-3xl);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:var(--g-s-3xl);--ml-tablet:var(--g-s-3xl);--mb-tablet:var(--g-s-3xl);--mr-tablet:var(--g-s-3xl);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:var(--g-s-3xl);--ml-mobile:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--mr-mobile:var(--g-s-3xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1757527624161 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guA4T4ffTK"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_574378713941017811-8254c4a5-3267-4181-b383-defd3704409e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_574378713941017811-8254c4a5-3267-4181-b383-defd3704409e.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_574378713941017811-8254c4a5-3267-4181-b383-defd3704409e.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_574378713941017811-8254c4a5-3267-4181-b383-defd3704409e.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1BKS54YAY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6wsh8aXzS"}' data-id="g6wsh8aXzS" id="g6wsh8aXzS" data-same-height-subgrid-container class="g6wsh8aXzS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-2xl);--ml:var(--g-s-2xl);--mb:0px;--mr:200px;--pt:var(--g-s-2xl);--pl:var(--g-s-l);--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:500px;--w-tablet:100%;--w-mobile:100%;--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gb9e87lkxZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6WAwsLGi5"
        class="g6WAwsLGi5"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757527624166"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6WAwsLGi5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_COLLECTION;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-3xl);--ta:center" >
        <style>[data-id="gUpbpxNNo2"].gp-button-base::before, [data-id="gUpbpxNNo2-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
    
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
  
    }
  
      
  [data-id="gUpbpxNNo2"]:hover::before, [data-id="gUpbpxNNo2-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gUpbpxNNo2" dataId="gUpbpxNNo2" data-state="idle" aria-label="<p><strong>WÄHLE MEINEN SCHMUCK</strong></p>"
          
          href="#" target="_self"
          style="--w:220px;--w-tablet:220px;--w-mobile:220px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--hvr-bblr:8px;--hvr-bbrr:8px;--hvr-btlr:8px;--hvr-btrr:8px;--bgi:;--hvr-bgi:;--hvr-bg:#961F48;--bg:#961F48;--hvr-c:#F6F1EA;--c:#F6F1EA;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gUpbpxNNo2 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggUpbpxNNo2_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-583838800820568899 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/formilo/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=583279148059853656&sectionId=583838800820568899)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6WAwsLGi5_text","label":"gg6WAwsLGi5_text","default":"<p><span style=\"color:#000000;font-size:22px;\"><strong>Was ist der Deal?</strong></span></p><p>&nbsp;</p><p><span style=\"color:#000000;\">Mit unserem Sommerbox-Angebot können Sie <strong>5 beliebige Teile</strong> von unserer Website <strong>mit 75 % Rabatt</strong> auswählen , verglichen mit dem Einzelkauf aller Teile.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>Schmuck, der Trends überdauert.</strong></span></p><p>&nbsp;</p><p><span style=\"color:#000000;\">Zum Wohnen gemacht – vom Morgen im Salzwasser bis zur Nacht bei Kerzenschein.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>Wasserdicht. Anlauffrei. In echtes 18 Karat Gold eingewickelt.</strong></span></p><p>&nbsp;</p><p><span style=\"color:#000000;\">Jedes kommt in unserer <strong>Sommerbox in limitierter Auflage</strong> an , wie ein wiederentdeckter vergessener Schatz.</span></p><p>&nbsp;</p><p><span style=\"color:#000000;\"><strong>Welche Schätze werden Sie wählen?</strong></span></p>"},{"type":"html","id":"ggUpbpxNNo2_label","label":"ggUpbpxNNo2_label","default":"<p><strong>WÄHLE MEINEN SCHMUCK</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  